/*---------------------------------------
    ## Buttons
---------------------------------------*/

.btn-wrapper{
  .primary-home-sec-btn{
    font-family:  var(--libre-font);
    font-weight: 400;
    color: var(--heading-color);
    padding: 12px 30px;
    border-radius:50px;
    background: var(--main-color-one);
    display: inline-block;
    @include transition($transition);
    &.white{
      color: var(--secondary-color);
      background: var(--heading-color);
      &:hover{
        background-color: white;
        box-shadow: 0px 6px 20px -8px var(--gray1);
      }
    }
    &.purple{
      background: var(--mixed--p-b-color);
      &:hover{
        background: #5c52ff;
        box-shadow: 0px 6px 20px -8px var(--mixed--p-b-color);
      }
    }
    
    &:hover{
      background-color: #0a82ff;
      box-shadow: 0px 6px 20px -8px #0a82ff;
    }

    span{
      &::before{
        font-size: 11px;
        margin-left: 12px;
      }
    }
  }
  .subscribe-btn{
    font-family: var(--open-sans);
    font-size: 14px;
    font-weight: 400;
    color: var(--heading-color);
    padding: 16px 25px;
    border-radius: 0px 7px 7px 0px;
    background-color: #FE757F;
  }
  .search-btn{
    font-family: var(--open-sans);
    font-size: 14px;
    font-weight: 600;
    padding: 20px 45px;
    background-color: var(--heading-color);
    border-radius: 5px;
    color:var(--mixed--p-b-color);
    
  }

}

.nav{
  justify-content: center;
  margin-bottom: 40px;
  &.nav-tabs{
    border-bottom: 0px;
    .nav-link{
      border: 0px;
    }
  }
  .nav-item-1{
    background: #F7FAFC;
    border-radius: 50px 0px 0px 0px;
    color:var(--gray1);
    padding: 20px 60px;

    &.active{
      background: #6C63FF;
      color:$white;
     
    }
  }
  .nav-item-2{
    background: #F7FAFC;
    border-radius: 0px 0px 50px 0px;
    color:var(--gray1);
    padding: 20px 60px;
    &.active{
      background: #6C63FF;
      color:$white;
     
    }
  }
  .nav-item{
    font-family: var(--libre-font);
    font-size: 14px;
    padding: 20px 40px;
    box-shadow: 1px 2px 4px #9090901A;
    border-radius: 5px;
    background: var(--heading-color);
    margin-right: 20px; 
    margin-bottom: 10px;
    i{
      &::before{
        font-size: 15px;
        margin-right: 12px;
        margin-left: 0px;
      }
    }
    &.active{
      background: #6C63FF;
      color:$white;
     
    }
  }
}