/*-------------------------
CARD COMPONENT
-------------------------*/


//quality Card
.quality-card-wrapper {
    padding: 30px;
    cursor: pointer;
    position: relative;
    @include transition($transition);

    .card-icon-wrapper {
        .icon {
            width: 65px;
            height: 65px;
            background: var(--main-color-one);
            border-radius: 50%;
            text-align: center;
            color: var(--heading-color);
            line-height: 65px;
            margin-bottom: 35px;
            @include transition($transition);

            i {
                &::before {
                    font-size: 26px;
                    margin-left: 0px;
                }
            }
        }
    }

    .card-content-wrapper {
        i {
            position: absolute;
            right: 30px;
            top: 0px;
            color: rgba(0, 123, 255, 0.1);
            opacity: 0;
            visibility: hidden;
            @include transition($transition);

            &::before {
                font-size: 100px;
            }
        }

        h4 {
            font-size: 20px;
            font-family: var(--libre-font);
            color: var(--paragraph-color);
        }

        p {
            font-size: 14px;
            font-family: var(--open-sans);
            color: var(--paragraph-color);
        }
    }

}

.quality-card-active {
    background: var(--heading-color);
    box-shadow: 1px 20px 34px #8A8A8A33;

    .card-icon-wrapper {
        .icon {
            box-shadow: 0 4px 10px 0 rgba(#057BF5, 0.70);
        }
    }

    .card-content-wrapper {
        i {
            opacity: 1;
            visibility: visible;
        }
    }
}



//Pricing Card
.pricing-card {
    background: var(--heading-color);
    box-shadow: 0px 0px 10px #90909033;
    border-radius: 8px;
    text-align: center;
    padding: 30px;
    cursor: pointer;
    @include transition($transition);
    margin-bottom: 30px;

    .pricing-card-img-wrapper {
        width: 130px;
        height: 130px;
        background: rgba(#057BF5, 0.10);
        border-radius: 50%;
        margin: 0 auto;

        .pricing-card-img {
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 131px;
        }
    }

    .pricing-card-content {
        .pricing-card-title-wrapper {
            .pricing-card-title {
                font-size: 16px;
                font-family: var(--open-sans);
                text-transform: uppercase;
                color: var(--black);
                font-weight: 600;
                line-height: 40px;

                &::after {
                    content: "";
                    display: block;
                    height: 1px;
                    width: 35px;
                    background: #6C63FF;
                    margin: 0 auto;
                }
            }
        }

        .pricing-card-list-wrapper {
            .pricing-card-list {
                ul {
                    list-style: none;
                    padding: 0px;

                    li {
                        font-size: 14px;
                        color: var(--gray);
                        font-family: var(--libre-font);
                        line-height: 35px;

                    }
                }
            }
        }

        .pricing-card-currency-wrapper {
            .pricing-card-currency {
                font-family: var(--libre-font);
                font-size: 42px;
                color: var(--gray1);
                font-weight: 400;
                line-height: 50px;

                span {
                    font-size: 18px;
                }

                &::after {
                    content: "";
                    display: block;
                    height: 1px;
                    width: 35px;
                    background: var(--gray2);
                    margin: 0 auto;
                }
            }
        }

    }

    .pricing-card-btn-wrapper {
        .pricing-card-btn {
            font-family: var(--libre-font);
            font-weight: 400;
            font-size: 14px;
            color: var(--gray1);
            padding: 13px 33px;
            border-radius: 50px;
            border: 1px solid var(--gray2);
            @include transition($transition);

            &:hover {
                background-color: var(--mixed--p-b-color);
                box-shadow: 0px 6px 20px -8px var(--mixed--p-b-color);
                color: var(--heading-color);
                border: none;
            }

        }
    }

    &:hover {
        box-shadow: 1px 20px 30px #C4C4C433;

        .pricing-card-content {
            .pricing-card-currency-wrapper {
                .pricing-card-currency {
                    color: var(--mixed--p-b-color);

                    span {
                        color: var(--gray1);
                    }

                    &::after {
                        background: var(--mixed--p-b-color);
                    }
                }
            }
        }

        .pricing-card-btn-wrapper {
            .pricing-card-btn {
                background-color: var(--mixed--p-b-color);
                box-shadow: 0px 6px 20px -8px var(--mixed--p-b-color);
                color: var(--heading-color);
                border: none;
            }
        }
    }

}

.price-active .pricing-card-content .pricing-card-currency-wrapper .pricing-card-currency {
    color: var(--mixed--p-b-color);
}
.price-active .pricing-card-content .pricing-card-currency-wrapper .pricing-card-currency::after {
    background: var(--mixed--p-b-color);
}
.price-active .pricing-card-btn-wrapper .pricing-card-btn {
    background-color: var(--mixed--p-b-color);
    box-shadow: 0px 6px 20px -8px var(--mixed--p-b-color);
    color: var(--white);
}

//Domain Pricing Card
.domain-prcing-card-wrapper {
    background: var(--heading-color);
    box-shadow: 1px 2px 4px #9090901A;
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin-bottom: 30px;
    &::after {
        content: "";
        display: block;
        height: 100%;
        width: 110%;
        top: -246px;
        left: 0;
        position: absolute;
        background: #FBFBFF;
        margin: 0 auto;
        border-radius: 50%;
        margin-left: -5%;
        z-index: -1;
        transition: all 0.3s ease 0s;
    }

    .domain-name-wrapper {
        .domain-name {
            font-family: var(--libre-font);
            font-size: 32px;
            color: var(--black);
        }
    }

    .domain-details-wrapper {
        .domain-details {
            font-family: var(--open-sans);
            font-size: 14px;
            color: var(--gray1);
            padding: 0px 64px;

            &::after {
                content: "";
                display: block;
                height: 1px;
                width: 265px;
                background: #FBFBFF;
                margin: 0 auto;
                margin-top: 25px;
            }
        }
    }

    .domain-price-wrapper {
        .domain-price {
            font-family: var(--open-sans);
            font-size: 36px;
            font-weight: 600;
            color: var(--gray1);

            span {
                font-size: 14px;
                font-weight: 400;
            }

        }
    }

    .doamin-pricing-card-btn-wrapper {
        .domain-pricing-card-btn {
            font-family: var(--libre-font);
            font-weight: 400;
            font-size: 14px;
            color: var(--gray1);
            padding: 10px 30px;
            border-radius: 50px;
            border: 1px solid var(--gray2);
            @include transition($transition);

            &:hover {
                background-color: var(--mixed--p-b-color);
                box-shadow: 0px 6px 20px -8px var(--mixed--p-b-color);
                color: var(--heading-color);
                border: none;
            }
        }
    }

    @include transition($transition);

    &:hover {
        cursor: pointer;
        box-shadow: 1px 20px 30px #90909033;

        &::after {
            background: var(--mixed--p-b-color);
        }

        .domain-name-wrapper {
            .domain-name {
                color: var(--heading-color);
            }
        }

        .domain-price-wrapper {
            .domain-price {
                color: var(--mixed--p-b-color);

                span {
                    color: var(--gray1);
                }

            }
        }

        .doamin-pricing-card-btn-wrapper {
            .domain-pricing-card-btn {
                background-color: var(--mixed--p-b-color);
                box-shadow: 0px 6px 20px -8px var(--mixed--p-b-color);
                color: var(--heading-color);
                border: none;
            }
        }
    }

}

//testimonail Card

.testimonial-sec-comment-card-wrapper {
    position: relative;

    .comment-card-quote {
        background: var(--heading-color);
        border-radius: 9px;
        box-shadow: 1px 20px 30px #9E9E9E33;

        .comments-card {
            display: flex;
            flex-wrap: wrap;
            padding: 40px 40px 80px 40px;
            justify-content: flex-end;

            .comments-card-container {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 83.333333%;
                flex: 0 0 83.333333%;
                max-width: 83.333333%;
                padding: 0;
                position: relative;
                .comments {
                    font-size: 14px;
                    font-family: var(--open-sans);
                    font-weight: 400;
                    line-height: 30px;

                    span {
                        position: absolute;
                        left: -32px;
                        opacity: 0.2;
                        top: -8px;
                        &::before {
                            font-size: 35px;
                            color: var(--main-color-one);
                            margin: 0;
                        }
                    }
                }
            }

        }

    }

    .cmnter-name-card-wrapper {
        background: var(--heading-color);
        box-shadow: 1px 2px 4px #0000001A;
        border-radius: 10px;
        width: 203px;
        padding: 25px;
        position: absolute;
        top: 38px;
        left: -50px;

        .cmnter-img-wrapper {
            width: 60px;
            height: 60px;
            background: rgba(5, 123, 245, 0.1);
            border-radius: 50%;
            margin: 0 auto;

            .cmnter-img {
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                height: 58px;
            }
        }

        .cmnter-info-wrapper {
            text-align: center;

            .cmnter-name {
                font-size: 16px;
                font-family: var(--libre-font);
                color: var(--black);
            }

            .cmnter-post {
                font-size: 14px;
                font-family: var(--libre-font);
                color: #909090;
                font-weight: 200;
            }
        }
    }
}
.testimonial-sec-comment-card-wrapper .slick-dots {
    bottom: 30px;
    position: absolute;
    left: 0;
    text-align: left;
    margin-left: 200px;
    width: 170px;
}
/*-------------------------
Brand Image
-------------------------*/

.brand-container-card {
    background: var(--heading-color);
    border-radius: 25px;
    opacity: 1;
    text-align: center;
    cursor: pointer;

    &.card-shadow {
        box-shadow: 1px 2px 4px #66666640;
        border-radius: 15px;
        padding: 25px;
    }

    @include transition($transition);

    .brand-img {
        height: 125px;
        filter: grayscale(100%);
        @include transition($transition);

        &.h-auto {
            height: auto;
        }
    }

    &:hover {
        box-shadow: 1px 20px 30px #C4C4C433;

        .brand-img {
            filter: grayscale(0%);
        }
    }
}

.brand-container-card {
    margin-top: 30px;
}

/*-------------------------
Feature Products
-------------------------*/
.feature-card-wrapper {
    background: var(--heading-color);
    box-shadow: 1px 2px 4px #898CC540;
    border-radius: 14px;
    padding: 30px;
    margin-bottom: 30px;

    .feautre-card-icon-wrapper {
        &.domain-include-icon-wrapper {
            background: #FAF8FF;
            width: 80px;
            height: 80px;

            i {
                color: var(--mixed--p-b-color);
                line-height: 85px;

                &::before {
                    font-size: 35px;
                }
            }
        }

        background:var(--mixed--p-b-color);
        border-radius: 50%;
        width: 65px;
        height: 65px;
        margin: 0 auto;

        i {
            color: $white;
            line-height: 65px;
            text-align: center;

            &::before {
                font-size: 28px;
                margin-left: 0px;
            }
        }
    }

    .feature-card-content-wrapper {
        margin-top: 30px;

        h4 {
            font-family: var(--libre-font);
            font-size: 16px;
            font-weight: 600;
            color: var(--black);
        }

        p {
            font-family: var(--open-sans);
            font-size: 14px;
            color: var(--gray);
        }
    }
}










/*-------------------------
SLICK DOT COLOR
-------------------------*/

.slick-dots {
    bottom: 45px;
    right: 29vh;
}

.slick-dots li {
    margin: 0 3px;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 15px;
    line-height: 21px;
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: #007bff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.slick-dots li.slick-active button:before {
    width: 19px;
    height: 19px;
    background: rgba(0, 123, 255, .25);
    border-radius: 50%;
    opacity: 1;
    color: #007bff;
}


.pricing-item-wrapper {
    background: #057BF5;

    .pricing-item-name-wrapper {
        .pricing-item-name {
            font-family: var(--libre-font);
            font-size: 28px;
            color: $white;
            text-align: center;
            line-height: 218px;
        }
    }

    .pricing-item-feature-wrapper {
        .pricing-item-feature {
            list-style: none;
            padding-left: 0px;

            li {
                font-family: var(--open-sans);
                font-size: 16px;
                color: $white;
                text-align: center;
                line-height: 80px;
                background-color: #1075DE;

                &::before {
                    content: " ";
                    display: block;
                    border: 1px solid var(--blue);
                    width: 100%;
                }

            }
        }
    }
}


.basic-item-wrapper {
    box-shadow: 1px 2px 4px #66666640;
    background: var(--heading-color);

    .basic-item-price-wrapper {
        text-align: center;
        padding: 57px;

        .basic-item-price {
            font-family: var(--open-sans);
            font-size: 56px;
            color: var(--gray);
            font-weight: 600;

            small {
                display: inline-block;
                font-family: var(--libre-font);
                font-size: 14px;
                font-weight: 400;
                color: var(--gray1);
                vertical-align: middle;
                margin: 0px 5px;
            }
        }

        p {
            font-family: var(--open-sans);
            font-size: 14px;
            color: var(--gray1);

        }
    }

    .basic-item-list-wrapper {
        .basic-item-list {
            list-style: none;
            padding-left: 0px;

            li {
                font-family: var(--open-sans);
                font-size: 16px;
                color: var(--gray);
                text-align: center;
                line-height: 80px;

                &::before {
                    content: " ";
                    display: block;
                    border: 1px solid rgba($gray, 0.1);
                    width: 100%;
                }

                &:last-child {
                    &::after {
                        content: " ";
                        display: block;
                        border: 1px solid rgba($gray, 0.1);
                        width: 100%;
                    }
                }
            }
        }
    }

    .basic-item-action {
        text-align: center;
        padding: 50px 0px 60px 0px;

        .purchase-btn {
            border: 1px solid rgba($gray, 0.6);
            border-radius: 26px;
            padding: 11px 26px;
            font-family: var(--libre-font);
            font-size: 14px;
            font-weight: 500;
            @include transition($transition);

            &:hover {
                background-color: var(--main-color-one);
                color: $white;
            }

        }
    }

    @include transition($transition);

    &:hover {
        box-shadow: 1px 20px 30px #90909033;
        cursor: pointer;

        .basic-item-price-wrapper {
            .basic-item-price {
                color: var(--main-color-one);

                small {
                    &.dollar {
                        color: var(--main-color-one);
                    }
                }
            }
        }

        .basic-item-action {
            .purchase-btn {
                background-color: var(--main-color-one);
                color: $white;
                border: none;
            }
        }
    }

    &.active {
        box-shadow: 1px 20px 30px #90909033;
        cursor: pointer;

        .basic-item-price-wrapper {
            .basic-item-price {
                color: var(--main-color-one);

                small {
                    &.dollar {
                        color: var(--main-color-one);
                    }
                }
            }
        }

        .basic-item-action {
            .purchase-btn {
                background-color: var(--main-color-one);
                color: $white;
            }
        }
    }
}

.affilate-feature-wrapper {
        margin-bottom: 40px;
    .affilate-icon-wrapper {
        .affilate-icon {
            width: 141px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 1px 2px 6px #90909033;
            border-radius: 88px;
            margin: 0 auto;

            span {
                &::before {
                    line-height: 141px;
                    font-size: 50px;
                }
            }
        }
    }

    .affilate-content-wrapper {
        .affilate-heading {
            font-size: 28px;
            font-family: var(--libre-font);
            color: var(--black);
        }

        .affilate-para {
            font-size: 14px;
            font-family: var(--open-sans);
            color: var(--gray);
            padding: 0px 50px;
        }
    }
}


/*---------------------------------------------------------------
COUNTER CARD
-----------------------------------------------------------------*/
.malix-counter-wrapper {
    margin-bottom: 50px;
    .malix-counter-logo-wrapper {
        span {
            font-size: 50px;
            &::before {
                font-size: 50px;
                margin-left: 0px;
                color: #6c63ff;
            }
        }
    }

    .malix-counter-content-wrapper {
        margin-top: 20px;
        margin-bottom: 20px;

        .malix-counter-content {
            font-size: 16px;
            font-family: var(--open-sans);
            text-transform: uppercase;
            color: var(--gray);
        }
    }

    .count-num {
        font-family: var(--libre-font);
        font-size: 36px;
        color: var(--gray);
        display: flex;
        justify-content: center;

        &.dollar {
            &::before {
                content: '$';
                display: block;
                font-family: var(--libre-font);
                font-size: 36px;
                color: var(--gray);

            }
        }

        &.plus {
            &::after {
                content: '+';
                display: block;
                font-family: var(--libre-font);
                font-size: 36px;
                color: var(--gray);
            }
        }
    }

    &::after {
        content: '';
        display: block;
        height: 97px;
        border-right: 1px solid rgba(#6C63FF, 0.3);
        position: absolute;
        top: 35px;
    }

    &.no-border {
        &::after {
            content: '';
            display: block;
            border-right: 0px solid rgba(#6C63FF, 0.3);
            position: absolute;
            top: 35px;
        }
    }


}

.referral-package-wrapper {
    box-shadow: 1px 2px 4px #9090901A;
    border-radius: 25px;
    background: $white;
    padding: 25px 0px;

    .monthly-refer-wrapper {
        &::after {
            content: '';
            display: block;
            border: 1px solid rgba(#6C63FF, 0.4);
            width: 115px;
            margin: 0 auto;
        }
    }
}






.profile-card-wrapper {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 1px 3px 4px #3333331A;
    border-radius: 15px;
    padding: 30px;
    position: relative;
    z-index: 0;
    margin-bottom: 30px;
    transition: all 0.5s;
    &::after {
        content: '';
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        background: rgba(#6C63FF, 0.9);
        opacity: 0;
        transition: all 0.3s ease-in-out;
        border-radius: 15px;
        z-index: -1;
        
    }

    .profile-img-wrapper {
        border-radius: 50%;

        img {
            width: 110px;
            height: 110px;
            border-radius: 50%;
            margin-bottom: 25px;
        }
    }

    .profile-details-wrapper {
        .profile-info-wrapper {
            .profile-name-wrapper {
                .profile-name {
                    font-family: var(--libre-font);
                    font-size: 20px;
                }
            }

            .profile-designation {
                font-family: var(--open-sans);
                font-size: 14px;
                color: var(--gray1);
            }

        }

    }

    .profile-description-wrapper {
        &::before {
            content: "";
            height: 1px;
            display: block;
            width: 50px;
            background: var(--gray2);
            margin: 0 auto;
        }

        .profile-details {
            font-family: var(--open-sans);
            font-size: 14px;
            color: var(--gray1);
        }

        .profile-ico {
            i {
                font-size: 15px;
                margin-right: 10px;

            }
        }

    }

    &:hover {
        background-image:  url(../img/business.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        &::after{
            opacity: 1;
        }
        .profile-details-wrapper {
            .profile-info-wrapper {
                .profile-name-wrapper {
                    .profile-name {
                        color: $white;
                    }
                }

                .profile-designation {
                    color: $white;
                }

            }

        }

        .profile-description-wrapper {
            &::before {
                background: $white;

            }

            .profile-details {
                color: $white;
            }

            .profile-ico {
                i {
                    color: $white;

                }
            }

        }

    }

}