/*===================================
    FORMS
=====================================*/

//RESERVATION FORMS
.form-input{
    .input-item{
        display: flex;
        align-self: flex-start;
        .icon{
            margin-right: 10px;
            flex: 0.36;
            &.icon-style{
                font-size: 40px;
                margin-top: -6px;
                color: var(--secondary-color);
                &.clock-icon{
                    margin-left: -18px;
                    margin-top: -6px;
                }
                
            }
        }
        .input-box {
            flex: 1;
            &.home-2-design{
                .selectbox__label,.resto_timepicker,.datepick{
                    &:hover{
                        color:var(--home-2-color) ;
                    }
                }
                .selectbox__option--selected{
                    color:var(--home-2-color) ;
                }
                .selectbox__label:hover:after {
                    border-top: 10px solid var(--home-2-color);
                }
                .selectbox__option {
                    &:hover {
                        background:var(--home-2-color);
                        color: #fff;
                    }
                }
                .wickedpicker__controls__control-up {
                    border-bottom: 2px solid var(--home-2-color);
                }
            }
            .selectbox__label,.resto_timepicker,.datepick{
                height: 50px;
                border: 2px solid rgba(#8d8d8d,0.4);
                border-radius: 0px;
                color: var(--gray);
                font-weight: 300;
                cursor: pointer;
                transition: 150ms linear all;
                box-shadow: none;
                width: 200px;
                font-size: 15px;
                font-family: var(--body-font);
                padding: 0px 12px;
               
                &::after{
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                    border-top: 10px solid var(--gray);
                    right: 17px;
                }
                &:hover{
                    color:var(--main-color-one) ;
                }
            }
            .restopicker {
                width: 200px !important;
                height: 153px !important;
            }
            
            .selectbox__label:hover:after {
                border-top: 10px solid var(--main-color-one);
            }
            
            .selectbox__option {
                font-family: var(--body-font);
                padding: 5px 10px;
                cursor: pointer;
                color:  var(--gray1);
                border-radius: 0px;
                display: flex;
                align-items: center;
                transition: .1s linear all;
                height: 40px;
                width: 200px;
                border-left: 2px solid rgba(#8d8d8d,0.4);
                border-right: 2px solid rgba(#8d8d8d,0.4);
                border-bottom: 1px dotted rgba(#8d8d8d,0.4);
                font-size: 14px;
               
                &:first-child {
                    border-top: 1px solid transparent;
                    border-radius: 0px;
                }
                &:last-child {
                    border-bottom: 2px solid rgba(#8d8d8d,0.4);
                }
                &:hover {
                    background:var(--main-color-one);
                    color: #fff;
                }
            }
        
            .selectbox__option--selected {
                color:var(--main-color-one);
                background: #fff;
            }
              
            [type=submit]{
                -webkit-appearance: none;
            }

        }
    }


}


//SUBSCRIBTION FORM

.subscribe-form-wrapper{
    display: flex;
    align-self: flex-start;
    .email-input {
       margin-right: 15px;
       flex: 0.36;
        .email-box{
            height: 46px;
            border: 2px solid rgba(#8d8d8d,0.4);
            border-radius: 0px;
            color:  var(--gray);
            font-weight: 300;
            transition: 150ms linear all;
            box-shadow: none;
            width: 28vw;
            font-size: 15px;
            font-family: var(--body-font);
            padding: 0px 12px;
            outline: none;
        }
        @include placeholder{
            color:var(--gray);
            opacity: 1; /* Firefox */
        }
        // ::placeholder {
        //     color: var(--gary);
        //     opacity: 1; /* Firefox */
        // }
        
        // :-ms-input-placeholder { /* Internet Explorer 10-11 */
        // color: var(--gary);
        // }
        
        // ::-ms-input-placeholder { /* Microsoft Edge */
        // color:var(--gary);
        // }
        
    }
    .subscribe-btn {
        flex: 1;
    }
}


.form-sec{
    .form-control{
        padding: 5px 11px;
        border-radius: 0px;
        font-size: 14px;
    }
    @include placeholder{
        color:var(--gray);
        opacity: 1; /* Firefox */
    }
    .red{
        @include placeholder{
            color:#D73C3C;
            opacity: 1; /* Firefox */
        } 
    }
   
}

form{
    
    .search-wrapper{
        input{
            padding: 5px 10px;
            font-size: 14px;
            color:#BCBCBC;
            border: 1px solid rgba(#BCBCBC,0.8);

        }
        i{
            color:var(--secondary-color);
            font-size: 12px;
        }
        &.form-ui{
            i{
                margin-left: -28px;
            }
        }
    }
    
}
//CHECKBOX WRAPPER
.checkbox-wrapper{
    .styled-checkbox {
        position: absolute; // take it out of document flow
        opacity: 0; // hide it
      
        & + label {
          position: relative;
          cursor: pointer;
          padding: 0;
          color:#8D8D8D;
          font-family: var(--body-font);
          font-weight: 300;
        }
      
        // Box.
        & + label:before {
          content: '';
          margin-right: 10px;
          display: inline-block;
          vertical-align: text-top;
          width: 20px;
          height: 20px;
          background: white;
          border: 1px solid #BCBCBC;
          color:#b8b8b8;
        }
      
        // Box hover
        &:hover + label:before {
          background: var(--main-color-one);
          border:none;
          
        }
        
        // Box focus
        &:focus + label:before {
          box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.12);
        }
      
        // Box checked
        &:checked + label:before {
          background:var(--main-color-one);
          border: none;
          color:#8D8D8D;
        }
        
        // Disabled state label.
        &:disabled + label {
          color:#8D8D8D;
          cursor: auto;
          border: none;
        }
      
        // Disabled box.
        &:disabled + label:before {
          box-shadow: none;
          background: #ddd;
          border: none;
        }
      
        // Checkmark. Could be replaced with an image
        &:checked + label:after {
          content: '';
          position: absolute;
          left: 5px;
          top: 9px;
          background: white;
          width: 2px;
          height: 2px;
          box-shadow: 
            2px 0 0 white,
            4px 0 0 white,
            4px -2px 0 white,
            4px -4px 0 white,
            4px -6px 0 white,
            4px -8px 0 white;
          transform: rotate(45deg);
        }
      }
}

    
.review-wrapper{
    display: flex;
    .tab-head{
        flex:1;
    }
    .star{
        color: #8D8D8D;
        opacity: 0.4;
        cursor: pointer;
    }
    i:hover{
        color: var(--main-color-one);
    }
}
