/*----------------------------------------
  ## Section title
----------------------------------------*/

.slider-inner-content{
  .showcase-sec-heading{
    color: var(--black);
    font-family: var(--libre-font);
    font-weight: 600;
  }
}
.scroll-wrapper{
    p{
      font-family: var(--body-font);
    }
}

.domain-header-wrapper{
  .domain-header-title{
    color: var(--black);
    font-weight: 600;
    text-align:center;
  }
  .domain-para{
    text-align:center;
  }
}
.purple-title-wrapper{
  .purple-title{
    font-family: var( --open-sans);
    font-size: 16px;
    text-transform: uppercase;
    &::before{
      content: "";
      display: inline-block;
      width: 14px;
      height: 14px;
      background:var(--purple-color);
      border-radius: 100px 0 0 0;
      -moz-border-radius: 100px 0 0 0;
      -webkit-border-radius: 100px 0 0 0;
      margin-right: 10px;
    }
  }
}
.sec-content-wrapper{
  .sec-subtitle{
    color: var(--black);
    font-family: var(--libre-font);
    font-size: 32px;
    font-weight: 500;
    line-height: 1.5;
  }
  .sec-para{
    font-family: var(--open-sans);
    font-size: 14px;
  }
}

.blue-title-wrapper{
  .blue-title{
    font-family: var( --open-sans);
    font-size: 16px;
    text-transform: uppercase;
    &::before{
      content: "";
      display: inline-block;
      width: 14px;
      height: 14px;
      background:var(--main-color-one);
      border-radius: 100px 0 0 0;
      -moz-border-radius: 100px 0 0 0;
      -webkit-border-radius: 100px 0 0 0;
      margin-right: 10px;
    }
  }
}


.banner-sec-content-wrapper{
  .banner-title{
    color: var(--heading-color);
    font-size: 26px;
    line-height: 1.5;
    font-family: var(--libre-font);
    font-weight: 400;
  }
  .banner-para{
    color: var(--heading-color);
    font-family: var(--open-sans);
    font-weight: 100;
  }
}
.domain-content-wrapper{
  .domain-title-wrapper{
    padding: 0px 10px;
    .domain-title{
      font-size: 48px;
      font-family: var(--libre-font);
      color: var(--heading-color);
      text-align: center;
    }
  }
  .domain-para-wrapper{
    padding: 0px 100px;
    .domain-para{
      font-size: 14px;
      font-family: var(--open-sans);
      color: var(--heading-color);
      text-align: center;
    }

  }
}

.ques-content-wrapper{
  .ques-heading{
    font-family: var(--libre-font);
    font-size: 36px;
    color:var(--black);
  }
  .ques-para{
    font-family: var(--open-sans);
    font-size: 16px;
    color:var(--gray);
  }
}

.contact-us-title-wrapper{
  .contact-us-title{
    font-size: 36px;
    font-family: vcar(--libre-font);
    color:var(--black);
  }
}

.affilate-hosting-content-wrapper {
  .affilate-hosting-heading{
      color:var(--heading-color);
      font-family: var(--libre-font);
  }
  .affilate-hostin-para{
      color:var(--heading-color);
      font-family: var(--open-sans);
  }
} 

.malixhost-affilate-content-wrapper{
  .malixhost-affilate-heading{
    font-family: var(--libre-font);
    font-size: 36px;
    color:var(--black);
  }
  .malixhost-para{
    font-family: var(--open-sans);
    font-size: 14px;
    color: var(--gray);


  }
}

.affilate-program-title-wrapper{
  .affilate-program-title{
    font-family: var(--libre-font);
    font-size: 28px;
    color:var(--black);
    font-weight: 600;
    line-height: 1.5;
  }
}
.affilate-program-para-wrapper{
  .affilate-program-para{
    font-family: var(--open-sans);
    font-size: 14px;
    color:var(--gray);
    
  }
}

.monthly-refer-wrapper{
  .monthly-refer{
    font-family: var(--open-sans);
    font-size: 14px;
    color:var(--gray);
    padding-bottom: 12px;
  }
}
.per-referral-wrapper{
  .per-referral{
    font-size: 26px;
    font-family: var(--libre-font);
    color:var(--black);
  }
}

.malix-question-title-wrapper{
  .malix-question-title{
    font-family: var(--libre-font);
    font-size: 32px;
    color:$white;
  }
}

.ceo-details-wrapper{
  .ceo-name{
    font-family:var(--open-sans);
    font-size: 18px;
    font-weight: 600;
  }
  .ceo-details{
    font-family:var(--open-sans);
    font-size: 14px;
  }
}


.work-title-wrapper{
  .work-title{
    font-family: var(--libre-font);
    font-size: 22px;
    color:$white;
  }
}