@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?vy7muy');
  src:  url('../fonts/icomoon.eot?vy7muy#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?vy7muy') format('truetype'),
    url('../fonts/icomoon.woff?vy7muy') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-commission:before {
  content: "\e900";
  color: #6c63ff;
}
.icon-edit-1:before {
  content: "\e901";
  color: #6c63ff;
}
.icon-Group-15060:before {
  content: "\e902";
  color: #057bf5;
}
.icon-Group-15062:before {
  content: "\e903";
  color: #057bf5;
}
.icon-Group-15064:before {
  content: "\e904";
  color: #057bf5;
}
.icon-money:before {
  content: "\e905";
  color: #6c63ff;
}
.icon-Path-15202:before {
  content: "\e906";
  color: #6c63ff;
}
.icon-facebook:before {
  content: "\ea90";
}
