.countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--secondary-color); }
  .countdown.countdown-style-2 .days, .countdown.countdown-style-2 .hours, .countdown.countdown-style-2 .mins {
    background: var(--main-color-one);
    padding: 0px 15px; }
    .countdown.countdown-style-2 .days::after, .countdown.countdown-style-2 .hours::after, .countdown.countdown-style-2 .mins::after {
      display: none; }
  .countdown.countdown-style-2 h6 {
    line-height: 40px; }
  .countdown.countdown-style-3 .days, .countdown.countdown-style-3 .hours, .countdown.countdown-style-3 .mins {
    color: var(--heading-color); }
    .countdown.countdown-style-3 .days::after, .countdown.countdown-style-3 .hours::after, .countdown.countdown-style-3 .mins::after {
      display: none; }
  .countdown.countdown-style-3 h6 {
    color: var(--heading-color); }
  .countdown.countdown-style-3 .divider {
    border-left: 3px solid white;
    height: 56px;
    margin-top: -38px; }
  .countdown .days, .countdown .hours, .countdown .mins {
    text-align: center;
    font-size: 100px;
    line-height: 100px;
    font-family: var(--heading-font); }
    .countdown .days::after, .countdown .hours::after, .countdown .mins::after {
      content: " ";
      display: block;
      height: 6px;
      background: var(--secondary-color);
      width: 100%; }
  .countdown h6 {
    text-align: center;
    font-size: 14px;
    font-family: var(--body-font);
    font-family: 300;
    line-height: 24px; }
  .countdown .divider {
    margin-top: -85px;
    margin-right: 30px;
    margin-left: 30px; }
    .countdown .divider .dot {
      height: 8px;
      width: 8px;
      background-color: var(--secondary-color);
      border-radius: 50%;
      display: block;
      margin-top: 40px; }

.countdown-bg {
  background: var(--secondary-color); }
