/*----------------------------------------
  ## Section title
----------------------------------------*/
.header-inner .showcase-sec-heading {
  font-size: 52px;
  color: var(--black);
  font-family: var(--libre-font); }
