/*--------------------------------------------------------------
	## ICON ELEMENT SASS
--------------------------------------------------------------*/
.myico {
  font-size: 15px; }
  .myico i {
    color: var(--gray);
    padding: 0px 0.2vw; }
  .myico i:hover {
    color: white;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
    cursor: pointer; }
