.testimonial-item-01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
  align-self: flex-start; }
  .testimonial-item-01 .thumbnail {
    margin-right: 20px;
    min-width: 150px; }
  .testimonial-item-01 .text-wrapper {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
