
/*---------------------
    ## Breadcumb 
----------------------*/
.breadcrumb-area {
    position: relative;
    z-index: 0;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
   padding: 230px 0 120px;
    &.extra{
        padding-bottom: 138px;
    }
   
    .page-title {
        font-size: 48px;
        line-height: 58px;
        font-weight: 500;
        color: $white;
        text-transform: capitalize;
        margin-bottom: 15px;
        font-family: var(--libre-font);
        &.about-us-title{
            text-transform: none;
            margin-top: 20px;
            line-height: 1.5;
        }
    }
    p{
        font-size: 16px;
        line-height: 26px;
        max-width: 600px;
        color: rgba($white, .70);
        margin-bottom:  20px;
    }
    .page-list {
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            position: relative;
            padding-left: 25px;
            font-size: 16px;
            font-weight: 400;
            color: rgba($white, .80);
            font-family: var(--open-sans);
            &:first-child {
                padding-left: 0;
                a{
                    color: var(--heading-color);
                }
                &:after {
                    display: none;
                }
            }
            &:after {
                position: absolute;
                left: 10px;
                top: 4px;
                font-family: "Font Awesome 5 Free"; 
                content: "\f054";
                font-weight: 600;
                font-size: 12px;
            }
            a {
                color: rgba($white, .80);
                @include transition($transition);
                &:hover {
                    color: $white;
                }
            }
        }
    }
}


/*---------------------------------------
    ## After Breadcumb LINE
---------------------------------------*/
.share-hosting-feature-wrapper{
    .share-hosting-feature{
        list-style: none;
        padding-left: 0px;
        li{
            color:var(--heading-color);
            display: inline-block;
            margin-right: 30px;
            font-family: var(--open-sans);
            font-size: 14px;
            &::before{
                content:" ";
                display: inline-block;
                width: 7px;
                height: 7px;
                border: 2px solid #FFFFFF;
                opacity: 1;
                border-radius: 50%;
                margin-top: 0;
                margin-right: 5px;
            }
        }
    }
    &::before{
        content:" ";
        display: block;
        width: 798px;
        border: 1px solid rgba($white, .20);
        margin-bottom: 10px;
        
    }
}