/*-------------------------
    Footer Area
-------------------------*/
.footer-sec{
    background: var(--footer); 
    padding: 60px 0 0;
    .widget{
        .widget-white{
            background: var(--heading-color);
            border-radius: 7px;
            padding: 30px;
            .footer-logo{
                width: 135px;
            }
            .widget-contact{
                display: flex;
                flex-wrap: wrap;
                margin-right: -15px;
                margin-left: -15px;
                .link{
                    display: flex;
                    padding-top: 6px;
                    margin: 0px;
                    align-items: baseline;
                    .address-text{
                        font-size: 14px;
                        font-family: var(--libre-font);
                        color: var(--black);
                        
                    }
                    i{
                        color:var(--main-color-one);
                        &::before{
                            font-size: 14px;
                            margin-right: 10px;
                        }  
                    }
                }
            }
            .footer-ico{
                color:var( --gray2);
                margin-left: 8px;
                cursor: pointer;
                i{
                    margin-right: 18px;
                    @include transition($transition);
                    &:hover{
                        color:var(--main-color-one);
                    }
                }
            }
        }
        .widget-title{
            font-size: 18px;
            font-family: var(--libre-font);
            color: var(--gray);
            margin-bottom: 30px;
        }
        .widget_pages{
            font-family: var(--open-sans);
            font-size: 14px;
            ul{
                li{
                    color: var(--gray);
                    margin-bottom: 20px;
                }
            }
        }
    }
    .copyright-text{
        color: var(--gray);
        text-align: left;
        margin: 0px;
        .fa-heart{
            color: var(--heart);
            padding: 0px 5px;
        }
    }
    
}