/*--------------------------------------------------------------
	## Header
--------------------------------------------------------------*/

.header-bg{
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    
    .left-slider-content-wrapper{
        .quote-wrapper{
            .dot{
                height: 12px;
                width: 12px;
                background-color: var(--purple-color);
                border-radius: 50%;
                display: inline-block;
                margin-right: 8px;
            }
            .tag-word{
                color: var(--purple-color);
                font-size: 13px;
                margin: 0px 5px;
                border-bottom: 1px solid var(--purple-color);
            }
        }
    }

    
    .slider-img-wrapper{
        position: relative;
        margin-top: 100px;
        .slider-img1{
            background-repeat: no-repeat;
            background-position: center; 
            background-size: contain;
            height: 100vh;
            min-height: 600px;
            margin-top: -110px;
        }
        .slider-img2{
            background-repeat: no-repeat;
            background-position: center; 
            background-size: contain;
            height: 100vh;
            min-height: 600px;
            position: absolute;
            width: 100%;
            top: 0px;
            left: 10px;
        }
        .slider-img3{
            background-repeat: no-repeat;
            background-position: center; 
            background-size: contain;
            height: 100vh;
            min-height: 600px;
            position: absolute;
            width: 100%;
            top: 0px;
            left: 10px;
        }
    }




    
    /*--------------------------------------------------------------
	## Slider Animation
    --------------------------------------------------------------*/

    .slider{
        .slider-item{
           &.slick-active{
               .slider-inner-content{
                   .showcase-sec-heading{
                       animation:1.5s 0.2s fadeInDown both;
                   }
                   .showcase-sec-para{
                       animation: 1.5s 0.2s fadeInUp both;
                   }
                   .btn-wrapper{
                        animation: 1.5s 0.2s fadeInLeft both;
                   } 
               }
               .quote-wrapper{
                    animation: 1.5s 0.2s fadeInRight both;
                }
               .slider-img-wrapper{
                     .slider-img1{
                        animation: 1.5s 0.2s fadeInDown both;
                     }
                     .slider-img2{
                        animation: 2.5s 0.2s bounceInDown both;
                     }
                     .slider-img3{
                        animation: 4s 0.2s bounceInDown both;
                     }
               }
           } 
        }
    }
    .slider-style-two .showcase-sec-heading,
    .slider-style-two .showcase-sec-para,
    .slider-style-two .quote-wrapper p,
    .slider-style-two .quote-wrapper p .tag-word,
    .scroll-wrapper-2 p,
    .scroll-wrapper-2 .big-arrow .line::before {
        color: $white;
    }
    .scroll-wrapper-2 .big-arrow .line,
    .slider-style-two .quote-wrapper p .dot {
        background-color: $white;
    }
    .slider-style-two .quote-wrapper p .tag-word {
        border-color: $white;
    }
    .header-slider-controller-two .slick-arrow {
        border-color: $white !important;
        color: $white !important;
    }
    
    

    
    
    
}

.slider .slick-dots {
    display: none !important;
}
.slider-style-two .slick-dots {
    display: inline-block !important;
    position: absolute;
    left: -83px;
    top: 50%;
    bottom: auto;
    right: auto;
    width: auto;
    transform: rotate(-90deg);
    height: auto;
    margin-top: -50px;
}
.slider-style-two .slick-dots li button:before {
    border: 1px solid #fff;
    color: transparent;
    border-radius: 50%;
}

.slider-style-two .slick-dots li.slick-active button:before {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    opacity: 1;
    color: #fff;
    border: none;
}


.banner-social {
    position: absolute;
    right: 50px;
    bottom: 31px;
    .social-title {
        margin-right: 55px;
        position: relative;
        &:after {
            position: absolute;
            content: '';
            height: 1px;
            width: 30px;
            background: $white;
            right: -40px;
            top: 12px;
        }
    }
    li {
        display: inline-block;
        color: $white;
        list-style: none;
        margin-right: 15px;
    }
}



.header-three {
    background-position: 100% -46px;
    background-size: auto;
}
.banner-social-2 {
    left: 20px;
    top: 50%;
    bottom: auto;
    transform: rotate(90deg);
    display: inline-block;
    right: auto;
    height: auto;
    width: auto;
    li {
        color: #7F7E82;
        transition: 0.4s;
        &:hover {
            color: #0C77F1;
        }
    }
}
.header-three .slider {
    .btn-wrapper {
        overflow: hidden;
        .primary-home-sec-btn {
            float: left;
            margin-right: 10px;
        }
        .test-popup-link {
            height: 48px;
            width: 48px;
            display: inline-block;
            border: 1px solid #6C63FF;
            float: left;
            text-align: center;
            line-height: 48px;
            border-radius: 50%;
            padding-left: 3px;
        }
    }
}

/*--------------------------------------------------------------
    # banner area
--------------------------------------------------------------*/
.banner-inner {
    margin-top: 170px;
    .title {
        color: #fff;
    }
    .content {
        color: #fff;
    }
}
.video-popup-btn {
    height: 48px;
    width: 48px;
    line-height: 48px;
    text-align: center;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 50%;
    padding-left: 3px;
    animation: ripple-white3 2.5s linear infinite;
}
@-webkit-keyframes ripple-white3 {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1); }
  100% {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 100px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 100px rgba(255, 255, 255, 0); } }

@keyframes ripple-white3 {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1); }
  100% {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 100px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 100px rgba(255, 255, 255, 0); } }