/* -----------------------------------------
    Typograph
----------------------------------------- */
.din-con-font,
.rockwell-font{
    display: flex;
    .primary{
        flex: 0.52;
    }
    .styles{
        flex: 0.36;
    }
}
.heading-types{
    background: rgba(#BCBCBC,0.4);
    .heading-style{
        .heading-wrapper{
            h3{
                font-family:var(--body-font);
                font-size: 18px;
                color: #8D8D8D;
            }
            h2{
                font-family: var(--body-font);
                font-size: 80px;
                color:black;
                font-weight: 400;
                &.fifty-five{
                    font-size: 55px;
                }
                &.thirty-five{
                    font-size: 35px;
                }
                &.twenty-five{
                    font-size: 35px;
                }
                &.eighteen{
                    font-size: 18px;
                }
                &.twoelve{
                    font-size: 12px;
                }
            }
        }
    }
}
.content{
  p{
    color: #8D8D8D;
    font-family: var(--body-font);
    font-size: 13px;
    .mark {
      background-color: #f9c935;
    }
    &.cross-out{
      text-decoration: line-through;
    }
    &.underlined-text{
      text-decoration: underline;
    }
    &.bold-text{
      font-weight: 600;
    }
    &.p-wfll{
      color: #000000;
      &:first-letter {
        font-size: 34px;
        line-height: 0.78;
        float: left;
        font-weight: 400;
        padding: 8px 5px 0 0;
      }
    }
  }
}

/* -----------------------------------------
    About Us
----------------------------------------- */
.about-us-sec{
    .about-us-showcase-img-wrapper{
        .about-us-info-img{
            background-repeat: no-repeat;
            background-position: center; 
            background-size: contain;
            height: 80vh;
        }
    }
    .about-us-contain-wrapper{
        padding: 0 0 0 60px;
    }
}

/* -----------------------------------------
    About
----------------------------------------- */
.about-sec{
    .about-img-wrapper{
        .about-img{
            background-repeat: no-repeat;
            background-position: center; 
            background-size: contain;
            height:620px;
        }
    }
}
.work-sec{
    margin-bottom: 280px;
    .work-sec-img{
        background-size: cover;
        background-position: center;
        height: 450px;
    }
    .button-video__icon{
        padding: 20px 20px 20px 22px;
        background-color:$white;
        border-radius: 50%;
        color:var( --mixed--p-b-color);
        font-size: 12px;
        box-shadow: 0 0 0 rgba(255, 255, 255, 1);
        animation: pulse-two 2s infinite;
    }
}

/* -----------------------------------------
    Affiliate
----------------------------------------- */
.affiliate-sec{
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    height: 55vh;
    .btn-wrapper{
        .primary-home-sec-btn{
            padding: 12px 40px;
            background-color: var(--heading-color);
            color:var(--mixed--p-b-color);
            &:hover{
                background-color: var(--heading-color);
                color:var(--mixed--p-b-color); 
                box-shadow: 0 4px 10px 0 rgba(116, 79, 168, 0.7);
            }
        }
    }
}

///affilate program Sec
.affilate-program-sec{
    background: var(--blue-01);
    .affilate-program-img-wrapper{
        .affilate-program-img{
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            height: 540px; 
        }
    }
    .affilate-program-attr-wrapper{
        ul{
            list-style: none;
            font-size: 14px;
            font-family: var(--open-sans);
            color: var(--black);
            font-weight: 700;
            padding-left: 5px;
            li{
                display: flex;
                align-items: center;
                line-height: 40px;
                &::before{
                    content:'';
                    display: block;
                    width: 8px;
                    height: 8px;
                    background: #0582F6 0% 0% no-repeat padding-box;
                    border-radius: 2px;
                    margin-top: 2px;
                    margin-right: 10px;
                }
            }
        }
    }
}

/// malix-refferal sec
.malix-referral {
    background: var(--blue-01);
    .malix-referral-img-wrapper{
        .malix-referral-img{
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            height: 540px; 
        }
    }
}

//malix Question Sec
.malix-question-sec{
    margin-bottom: 208px;
    .malix-question{
        background-size: cover;
        background-position: center;
        height: 580px;
    }
    .malix-question-form-wrapper{
        background: $white;
        padding: 50px;
        border-radius: 25px;
        box-shadow: 0px 20px 40px #D6D4FF33;
        form{
            .form-group{
                label{
                    font-size: 14px;
                    font-family:var(--open-sans);
                    margin-bottom: 20px;
                }
                .form-control {
                    border-top: none;
                    border-right: none;
                    border-left: none;
                    border-radius: 0px;
                    padding: 5px 0px 10px 0px;
                    outline: none;
                    &:focus{
                        box-shadow: none;
                        border-color: #80bdff;
                    }
                }
            }
        }
    }
}

/* -----------------------------------------
    banner
----------------------------------------- */
.banner-sec{
    .banner-sec-container{
        background-color: var(--mixed--p-b-color);
        align-items: center;
        .banner-sec-img-wrapper{
            padding: 20px 0px 10px 0px;
            margin-left: 40px;
        }
    }
}

/* -----------------------------------------
    blog
----------------------------------------- */
.single-blog-post{
    background:#FBFBFF;
    .thumb{
        position: relative;
        height: 100%;
        
        img{
            width: 100%;
        }
        .button-video__icon{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            padding: 20px 20px 20px 22px;
            background-color:var(--main-color-one);
            border-radius: 50%;
            color: $white;
            font-size: 12px;
            box-shadow: 0 0 0 var(--main-color-one);
            animation: pulse-three 2s infinite;
        }  
    }
    .blog-slider-controller{
        display: flex;
        cursor: pointer;
        .blog-prev-arrow{
            position: absolute;
            top: 46%;
            background: white;
            padding: 7px 14px;
            border-radius: 50%;
            left: 50px;
            &:hover{
                color: var(--mixed--p-b-color);
            }
        }
        .blog-next-arrow{
            position: absolute;
            top: 46%;
            background: white;
            padding: 7px 14px;
            border-radius: 50%;
            right: 50px;
            &:hover{
                color: var(--mixed--p-b-color);
            }
           
        }
    }
    .blog-content-wrapper{
        padding: 0px 15px;
        .blog-para-wrapper{
            .blog-para{
                font-family: var(--open-sans);
                font-size: 14px;
                line-height: 1.5;
            }
        }
        .read-more-wrapper{
            .read-more{
                font-family: var(--libre-font);
                font-size: 14px;
                color:var(--black);
                font-weight: 600;
            }
        }
    }
}
.date-category-sec{
    display: flex;
    .date-wrapper{
        display: flex;
        align-items: center;
        margin-right: 30px;
        .blog-date{
            font-family: var(--libre-font);
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 0px;
        }
        i{
            &:before{
                margin-left: 0px;
                font-size: 15px;
                margin-right: 5px;
                color:var(--mixed--p-b-color);
            }
        }
    }
    .category-wrapper{
        display: flex;
        align-items: center;
        .blog-category{
            font-family: var(--libre-font);
            font-size: 14px;
            font-weight: 400;
            margin-bottom:0px;
        }
        i{
            &:before{
                margin-left: 0px;
                font-size: 15px;
                margin-right: 5px;
                color:var(--mixed--p-b-color);
                font-weight: 900;
            }
        }
    }
}
.blog-title-wrapper{
    .blog-title{
        font-size: 28px;
        font-weight: bold;
        color: var(--black);
        line-height: 38px;
        &.blog-pad{
            padding-right: 0px;
        }
    }
}
.blog-writer-view-share-wrapper{
    display: flex;
    .blog-writer{
        font-family: var(--libre-font);
        font-size: 12px;
        color:var(-gray1);
        margin-right: 30px;
        margin-top: 8px;
        span{
            color:var(--black);
        }
    }
    .blog-view-wrapper{
        margin-right: 30px;
        display: flex;
        align-items: center;
        .blog-view{
            font-family: var(--libre-font);
            font-size: 12px;
            color:var(-gray1);
            margin-bottom: 0px;
        }
        i{
            &:before{
                margin-left: 0px;
                font-size: 15px;
                margin-right: 5px;
            }
        }
    }
    .blog-share-wrapper{
        display: flex;
        align-items: center;
        .blog-share{
            font-family: var(--libre-font);
            font-size: 12px;
            color:var(-gray1);
            margin-bottom: 0px;

        }
        i{
            &:before{
                margin-left: 0px;
                font-size: 15px;
                margin-right: 5px;
            }
        }
    }
}
.single-blog-style-2{
    .blog-post-style-2-wrapper{
        padding: 30px;
        border: 5px solid #FBFBFF;
    }
}
.blog-banner{
    background-size: cover;
    background-position: center;
    padding: 30px;
}

//BLog Pagination Sec
.blog-pagination{
    ul{
        li{
            a{
                font-size: 16px;
                font-family: var(--open-sans);
                font-weight: 400;
            }
        }
    }
}
.blog-quote-wrapper{
    .blog-quote{
        font-family: var(--libre-font);
        font-style:italic;
        font-size: 22px;
        color: var(--gray1);
        padding-right:100px ;
        line-height: 32px;
    }
}
.bloger-name{
    font-family: var(--libre-font);
    font-size: 22px;
    color: var(--paragraph-color);
    font-weight: 600;
}

//Blog Details CSS
.blog-details-wrapper{
    .bolg-details-title-wrapper{
       .bolg-details-title{
           font-size: 30px;
           font-family: var(--open-sans);
           font-weight: 800;
           color:var(--black);
       } 
    }
    .img-wrapper {
        img {
            border-radius: 6px;
        }
    }
    .blog-detail-calender-view-wrapper{
        display: flex;
        .calender-wrapper{
            display: flex;
            align-items: center;
            margin-right: 30px;
            .blog-date{
                font-family: var(--open-sans);
                font-size: 12px;
                font-weight: 400;
                margin-bottom: 0px;
                color:#5E605F;
                margin-top: 5px;
            }
            i{
                &:before{
                    margin-left: 0px;
                    font-size: 12px;
                    margin-right: 5px;
                    color:#5E605F;
                }
            }
        }
        .view-wrapper{
            display: flex;
            align-items: center;
            margin-right: 30px;
            .blog-view{
                font-family: var(--open-sans);
                font-size: 12px;
                font-weight: 400;
                margin-bottom: 0px;
                color:#5E605F;
                margin-top: 4px;
            }
            i{
                &:before{
                    margin-left: 0px;
                    font-size: 14px;
                    margin-right: 5px;
                    color:#5E605F;
                }
            }
        }
        .comment-wrapper{
            display: flex;
            align-items: center;
            margin-right: 30px;
            .blog-comment{
                font-family: var(--open-sans);
                font-size: 12px;
                font-weight: 400;
                margin-bottom: 0px;
                color:#5E605F;
                margin-top: 4px;
            }
            i{
                &:before{
                    margin-left: 0px;
                    font-size: 14px;
                    margin-right: 5px;
                    color:#5E605F;
                }
            }
        }
        .blog-para-wrapper{
            .blog-para{
                font-family: var(--open-sans);
                font-size: 14px;
            }
        }
    }
    .blog-image-wrapper{
        .blog-img{
            background-size: cover;
            background-position: center;
            height: 400px;
        }
    }
    .blog-tag-share{
        display: flex;
        justify-content: space-between;
        .blog-tag-wrapper{
            display: flex;
            .tag-wrapper{
                display: flex;
                margin-top: 2px;
                i{
                    &::before{
                        font-size: 15px;
                        margin-left: 0px;
                        margin-right: 5px;
                        font-weight: 600;
                    }
                }
                h6{
                    font-family: var(--libre-font);
                    font-size: 16px;
                    color:var(--paragraph-color);
                }
            }
            ul{
                list-style: none;
                display: flex;
                li{ 
                    margin-right: 10px;
                    .navs__link--tag{
                        border: 1px solid #CCCCCC;
                        border-radius: 21px;
                        padding: 5px 20px;
                        font-family: var(--open-sans);
                        font-size: 12px;
                        transition: 0.4s;
                        &:hover{
                            background: var(--mixed--p-b-color);
                            color:$white;
                            border:1px solid transparent;
                        }
                    }
                }
            }
        }
        .blog-share-wrapper{
            display: flex;
            .share-wrapper{
                display: flex;
                margin-right: 5px;
                i{
                    &::before{
                        font-size: 15px;
                        margin-left: 0px;
                        margin-right: 5px;
                        font-weight: 600;
                    }
                }
                h6{
                    font-family: var(--libre-font);
                    font-size: 16px;
                    color:var(--paragraph-color);
                }
            }
            .socal-icon-wrapper{
                display: flex;
                list-style: none;
                .socal-icon{
                    i{
                        margin-right: 10px;
                        font-size: 16px;
                        color: var(--gray2);
                        transition: 0.3s;
                        &:hover{
                            cursor: pointer;
                            color:var(--main-color-one);
                        }
                    }
                }
            }
        }
    }
    .blog-prev-next-post-wrapper{
        &::before{
            content: "";
            display: block;
            border: 1px solid rgba(#6C63FF,0.3);
            margin-bottom: 30px;

        }
        &::after{
            content: "";
            display: block;
            border: 1px solid rgba(#6C63FF,0.3);
            margin-top: 30px;
        }
        .prev-next-post{
            display: flex;
            justify-content: space-between;
        }
        .prev-post,.next-post{
            h5{
                font-family: var(--open-sans);
                font-size: 14px;
                color:var(--gray1);
            }
            h2{
                font-family: var(--open-sans);
                font-size: 26px;
                color:var(--black);
                font-weight: 800;
            }
        }
        .icon{
            display: flex;
            align-items: center;
        }
    }
    .desktop-right{
        text-align: right;
    }
    .blog-writer-wrapper{
        background: #FBFBFF;
        padding: 40px;
        .blog-writer-desc-wrapper{
            h5{
                font-family:var(--open-sans) ;
                font-size: 14px;
                text-transform: uppercase;
            }
            h2{
                font-family: var(--open-sans);
                font-size: 28px;
                color:var(--black);
                font-weight: 600;
            }
            p{
                font-family:var(--open-sans) ;
                font-size: 14px;
                font-weight: 500;
            }
        }
    }
    .comments-area{
        .comments-title{
            font-family: var(--libre-font);
            font-size: 26px;
            color:var(--black);
            font-weight: 800;
        }
        .comment-list{
            list-style: none;
            .comment{
                .single-comment-wrap{
                    display: flex;
                    margin:50px 0px;
                   
                    .thumb{
                        margin-right: 20px;
                        img {
                            border-radius: 50%;
                        }
                    }
                    .content{
                        margin-top: 12px;
                        .title{
                            font-size: 20px;
                            font-family: var(--open-sans);
                            color:var(--black);
                            font-weight: 600;
                        }
                        .comment-content{
                            font-size: 14px;
                            font-family: var(--open-sans);
                        }
                        .reply{
                            .comment-reply-link{
                                font-size: 14px;
                                font-family: var(--open-sans);
                                i{
                                    font-size: 14px;
                                    color:var(--gray1);
                                }
                            }
                        }
                    }
                }
                .children{
                    list-style: none;
                    .single-comment-wrap{
                        margin: 50px 20px;
                    }
                }
            }
        }
    }
    .comment-respond{
        .comment-reply-title{
            font-family: var(--libre-font);
            font-size: 26px;
            color:var(--black);
            font-weight: 800;
        }
        .comment-form
        {
            .form-group{
                textarea{
                    resize: none;
                    border-radius: 0px;
                    padding:10px 20px;
                    border: 1px solid #9090904D;
                    &::placeholder{
                        font-family: var(--open-sans);
                        font-size: 14px;
                        color: var(--gray);
                    }
                }
                input{
                    border-radius:0px;
                    padding: 10px 20px;
                    border: 1px solid #9090904D;
                    &::placeholder{
                        font-family: var(--open-sans);
                        font-size: 14px;
                        color: var(--gray);
                    }
                }
            }
            .btn-wrapper{
                .primary-home-sec-btn{
                    i{
                        margin-right: 10px;
                    }
                    font-family: var(--libre-font);
                    font-size: 14px;
                }
            }
        }
    }
}

/* -----------------------------------------
    Coming Soon
----------------------------------------- */
.coming-soon-bg{
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    height: 100vh;
    .coming-soon-content-wrapper{
        .coming-soon-title-wrapper{
            .coming-soon-title{
                font-family: var(--libre-font);
                font-size: 52px;
                color:var(--heading-color);
                line-height: 70px;
            }
        }
        .counter-wrapper{
            .countdown{
                display: flex;
                color:var(--heading-color);
                .day,.hour,.minute,.second{
                    border: 1px dashed rgba($white,0.4);
                    margin: 0px 16px 0px 0px;
                    padding: 15px 30px;
                }
                span {
                    font-family: var(--libre-font);
                    font-size: 34px;
                }
                h6{
                    font-family: var(--libre-font);
                    font-size: 14px;
                    font-weight: 200;
                }
            }
        }
        .notify-from-wrapper{
            .input-group{
                .notify-text-field{
                    background: var(--heading-color);
                    box-shadow: 1px 2px 4px #6C63FF0D;
                    border-radius: 4px 0px 0px 4px;
                    height: 50px;
                    padding: 0px 20px;
                    &::placeholder{
                        font-family: var(--open-sans);
                        font-size: 14px;
                        font-weight: 200;
                        color:var(--gray2);
                    }
                }
            }
            .input-group-btn{
                .btn-wrapper{
                    background:#6C63FF;
                    color:var(--heading-color); 
                    border-radius: 0px 4px 4px 0px;
                    line-height: 48px;
                    width: 65px;
                }
            }
        }
    }
    .coming-soon-img-wrapper{
        .coming-soon-img{
            background-repeat: no-repeat;
            background-position: center; 
            background-size: contain;
            height: 600px;
        }
    }
}

/* -----------------------------------------
    Contact Us
----------------------------------------- */
.contact-us{
    .contact-us-content-wrapper{
        width:100%;
        .contact-us-from-wrapper{
            form{
                padding: 0px 75px 0px 0px;
                .form-group{
                    .form-control{
                        padding: 14px 25px;
                        border: 1px solid var(--gray2);
                        &::placeholder{
                            font-family: var(--opens-sans);
                            font-size: 14px;
                            color:var(--gray2);
                            font-weight: 100;
                        }
                    }
                }
            }
            .btn-wrapper{
                .primary-home-sec-btn{
                    padding: 13px 40px;
                }
            }
        }
    }
    .contact-img-wrapper{
        .contact-img{
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            height: 660px;
        }
    }
}
.google-map{
    .google-map-wrapper{
        #map{
            height: 580px;
        }
    }
    .bg-black{
        background: var(--black);
    }
    .office-address{
        .head-office-wrapper{
            border: 1px solid gray;
            width: 500px;
            margin-left: 60px;
            padding: 30px 100px 30px 35px;
            .head-office-title-wrapper{
                .head-office-title{
                    font-size: 22px;
                    font-family: var(--libre-font);
                    color:var(--heading-color);
                }
            }
            .head-office-content-wrapper{
                .para{
                    font-size: 14px;
                    font-family: var(--libre-font);
                    color:var(--gray2);
                    font-weight: 200;
                    margin-bottom: 12px;
                }
            }
        }
    }
}

/* -----------------------------------------
    Domain Pages
----------------------------------------- */
.domain-area{
    background-size: cover;
    background-position: center;
    height: 110vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 300px;
    .search-form-wrapper{
        display: flex;
        .input-group{
            margin-right: 15px;
            .search-text-field{
                height: 59px;
                padding: 0px 35px;
                &::placeholder{
                    font-size: 16px;
                    font-family: var(--open-sans);
                    color:var(--gray2);
                }
            }
            .input-group-btn{
                .custom-select {
                    position: relative;
                    font-family: var(--open-sans);
                    padding: 0px;
                    border:none;
                    width: 106px;
                    height: 99px;
                    background: none;
                    select {
                        display: none; /*hide original SELECT element:*/
                    }
                    .select-selected {
                        background-color: var(--heading-color);
                        &::after{
                            position: absolute;
                            content: "";
                            top: 22px;
                            right: 15px;
                            font-family: "Font Awesome 5 Free";
                            font-weight: 900; 
                            content: "\f078";
                            color:var(--gray1);
                            font-size: 10px;
                        } 
                    }
                    .select-items div,.select-selected {
                        color:var(--mixed--p-b-color);
                        padding: 8px 16px;
                        border: 1px solid transparent;
                        border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
                        cursor: pointer;
                        user-select: none;
                        border-radius:0px 5px 5px 0px;
                        padding: 16.7px 10px;
                    }
                    /*style items (options):*/
                    .select-items {
                        position: absolute;
                        background-color: var(--heading-color);
                        top: 65%;
                        left: 0;
                        right: 0;
                        z-index: 99;
                    }
                    /*hide the items when the select box is closed:*/
                    .select-hide {
                        display: none;
                    }
                    .select-items div:hover, .same-as-selected {
                        background-color: rgba(0, 0, 0, 0.1);
                    }
                }
            }
        }
    }
    .showcase-img-wrapper{
        position: absolute;
        width: 100%;
        top: 64%;
        .domain-showcase-img{
            background-size: contain;
            background-position: center;
            height: 60vh;
            background-repeat: no-repeat;
        }
    }
}
.space{
    margin-top: 31.5vh;
}
.domain-price{
    text-align: center;
}
.domain-page-select {
    select {
        height: 59px;
        background: #fff;
        display: inline-block;
        min-width: 110px;
        padding: 0 5px;
        color: var(--paragraph-color);
        outline: 0;
        border: 1px solid #ced4da;
        border-left: 0;
    }
}

/* -----------------------------------------
    Domain
----------------------------------------- */
.domain-sec{
    .searchbar_wrapper{
        display: flex;
        justify-content: center;
        .searchbar{
            margin-bottom: auto;
            margin-top: auto;
            height: 80px;
            background-color: var(--heading-color);
            border-radius: 50px;
            box-shadow:  1px 20px 34px #8A8A8A33;
            padding: 19px 30px;
            width: 740px;
            display: flex;
            justify-content: space-between;
            .search_input{
                color: var(--black);
                border: 0;
                outline: 0;
                background: none;
                line-height: 40px;
                width: 100%;
                padding: 0 15px;
                &::placeholder { /* Firefox, Chrome, Opera */ 
                    color: var(--gray2); 
                    font-size: 14px;
                    font-family: var(--libre-font);
                }
                &:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
                    color: var(--gray2); 
                    font-size: 14px;
                    font-family: var(--libre-font);
                }
                &::-ms-input-placeholder { /* Microsoft Edge */ 
                    color: var(--gray2);
                    font-size: 14px; 
                    font-family: var(--libre-font);
                }
            }
            .search_icon{
                height: 40px;
                width: 40px;
                font-size: 14px;
                display: flex;
                flex: 0 0 40px;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background-size: 300% 100%;
                background-image: linear-gradient(to right, var(--purple-color), var(--main-color-one), var(--main-color-one), var(--purple-color));
                color:var(--heading-color);
                @include transition($transition);
                i{
                    &::before{
                        font-size: 12px;
                        margin-left: 0px;
                    }
                }
                &:hover{
                    box-shadow: 0 4px 10px 0 rgba(116, 79, 168, 0.70);
                }
            }
        }
    }
    .domain-price-table-wrapper {
        position: relative;
        &::after{
            content: " ";
            display: inline-block;
            height: 1px;
            background: rgba(#000000,0.20);
            width: 55%;
            min-width: 882px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
            
        }
        ul{
            &.domain-type{
                list-style: none;
                display: flex;
                justify-content: center;
                margin-left: 60px;
                li{
                    margin-right: 80px;
                    &.table-header{
                        margin-right: 86px;
                        font-family: var(--open-sans);
                        font-size: 14px;
                        color: var(--gray);
                    }
                    font-size: 20px;
                    font-family: var(--libre-font);
                    color: var(--black);
                }
            }
            &.domain-price{
                list-style: none;
                display: flex;
                justify-content: center;
                margin-left: 60px;
                li{
                    margin-right: 75px;
                    &.table-header{
                        margin-right: 86px;
                        font-family: var(--open-sans);
                        font-size: 14px;
                        color: var(--gray);
                    }
                    font-family: var(--open-sans);
                    font-size: 14px;
                    color: var(--gray);

                }
            }
        }
    }
}

/* -----------------------------------------
    error-404
----------------------------------------- */
.error-404{
    text-align: center;
    .title{
        font-size: 200px;
        line-height: 160px;
        font-weight: 700;
        margin-bottom: 45px;
        color: var(--main-color-one);
    }
    .subtitle{
        font-size: 24px;
        line-height: 34px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .search-form{
        position: relative;
        z-index: 0;
        margin-top: 36px;
        .form-control{
            height: 54px;
            padding: 0 20px;
        }
        .submit-btn{
            position: absolute;
            right: 0;
            top: 0;
            width: 70px;
            text-align: center;
            padding: 0;
            height: 55px;
        }
    }
}

/* -----------------------------------------
    Error
----------------------------------------- */
.error-bg{
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    height: 100vh;
    .error-page-content-wrapper{
        .error-page-title-wrapper{
            .error-title{
                font-size: 235px;
                font-family: var(--libre-font);
                color: var( --mixed--p-b-color);
                letter-spacing: -20px;
                font-weight: 600;
            }   
        }
        .error-page-content{
            .not-found{
                text-transform: uppercase;
                font-family: var(--open-sans);
                font-size: 18px;
                color:var(--gray);
                font-weight: 600;
            }
            p{
                font-family: var(--open-sans);
                font-size: 14px;
            }
            img{
                height: 250px;
                width: auto;
            }
        }
    }
}

/* -----------------------------------------
    FAQ
----------------------------------------- */
.question-sec{
    background: #FBFBFF;
    .ques-img-wrapper{
        .ques-img{
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 550px;
        }
    }
    .form-wrapper{
        .form-group{
            label{
                font-family: var(--open-sans);
                font-size: 14px;
                color:var(--gray);
            }
            input,textarea{
                border-radius:3px;
                border:0px; 
                padding: 10px 20px;
                &::placeholder{
                    font-family: var(--open-sans);
                    font-size: 14px;
                    color: var(--gray2);
                    font-weight: 400;
                }
            }
        }
    }
}

/* -----------------------------------------
    Gallery
----------------------------------------- */
.gallery-wrapper{
    .img-container-1{
        background: url(../img/baker.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 382px;
        padding: 10px;
        .border-hover{
            .popup-wrapper{
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                width: 100%;
                height: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                visibility:hidden;
                opacity: 0;
                h5{
                    font-family: var(--body-font);
                    font-size: 16px;
                }
            }
        }
        &:hover{
            .border-hover{
                .popup-wrapper{
                    visibility: visible;
                    opacity: 1;
                }
            } 
        }

    }
    .img-container-2{
        background: url(../img/carresto.jpg);
        background-repeat: no-repeat;
        background-position: center ;
        background-size: cover;
        width: 100%;
        height: 176px;
        padding: 10px;
        .border-hover{
            .popup-wrapper{
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                width: 100%;
                height: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                visibility:hidden;
                opacity: 0;
                h5{
                    font-family: var(--body-font);
                    font-size: 16px;
                }
            }
        }
        &:hover{
            .border-hover{
                .popup-wrapper{
                    visibility: visible;
                    opacity: 1;
                }
            } 
        }
    }
    .img-container-3{
        background: url(../img/readinglady.jpg);
        background-repeat: no-repeat;
        background-position: center ;
        background-size: cover;
        width: 100%;
        height: 176px;
        padding: 10px;
        .border-hover{
            .popup-wrapper{
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                width: 100%;
                height: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                visibility:hidden;
                opacity: 0;
                h5{
                    font-family: var(--body-font);
                    font-size: 16px;
                }
            }
        }
        &:hover{
            .border-hover{
                .popup-wrapper{
                    visibility: visible;
                    opacity: 1;
                }
            } 
        }
    }
    .img-container-4{
        background: url(../img/architecture-building.jpg);
        background-repeat: no-repeat;
        background-position: center ;
        background-size: cover;
        width: 100%;
        height: 176px;
        padding: 10px;
        .border-hover{
            .popup-wrapper{
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                width: 100%;
                height: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                visibility:hidden;
                opacity: 0;
                h5{
                    font-family: var(--body-font);
                    font-size: 16px;
                }
            }
        }
        &:hover{
            .border-hover{
                .popup-wrapper{
                    visibility: visible;
                    opacity: 1;
                }
            } 
        }
    }
    .img-container-5{
        background: url(../img/blding.jpg);
        background-repeat: no-repeat;
        background-position: center ;
        background-size: cover;
        width: 100%;
        height: 176px;
        padding: 10px;
        .border-hover{
            .popup-wrapper{
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                width: 100%;
                height: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                visibility:hidden;
                opacity: 0;
                h5{
                    font-family: var(--body-font);
                    font-size: 16px;
                }
            }
        }
        &:hover{
            .border-hover{
                .popup-wrapper{
                    visibility: visible;
                    opacity: 1;
                }
            } 
        }
    }
    .img-container-6{
        background: url(../img/pizza.jpg);
        background-repeat: no-repeat;
        background-position: center ;
        background-size: cover;
        width: 100%;
        height: 176px;
        padding: 10px;
        .border-hover{
            .popup-wrapper{
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                width: 100%;
                height: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                visibility:hidden;
                opacity: 0;
                h5{
                    font-family: var(--body-font);
                    font-size: 16px;
                }
            }
        }
        &:hover{
            .border-hover{
                .popup-wrapper{
                    visibility: visible;
                    opacity: 1;
                }
            } 
        }
    }
    .img-container-7{
        background: url(../img/chef-cook.jpg);
        background-repeat: no-repeat;
        background-position: center ;
        background-size: cover;
        width: 100%;
        height: 382px;
        padding: 10px;
        .border-hover{
            .popup-wrapper{
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                width: 100%;
                height: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                visibility:hidden;
                opacity: 0;
                h5{
                    font-family: var(--body-font);
                    font-size: 16px;
                }
            }
        }
        &:hover{
            .border-hover{
                .popup-wrapper{
                    visibility: visible;
                    opacity: 1;
                }
            } 
        }
    }
    .img-container-8{
        background: url(../img/italian-show.jpg);
        background-repeat: no-repeat;
        background-position: center ;
        background-size: cover;
        width: 100%;
        height: 176px;
        padding: 10px;
        .border-hover{
            .popup-wrapper{
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                width: 100%;
                height: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                visibility:hidden;
                opacity: 0;
                h5{
                    font-family: var(--body-font);
                    font-size: 16px;
                }
            }
        }
        &:hover{
            .border-hover{
                .popup-wrapper{
                    visibility: visible;
                    opacity: 1;
                }
            } 
        }
    }
    .img-container-9{
        background: url(../img/green-pumpkin.jpg);
        background-repeat: no-repeat;
        background-position: center ;
        background-size: cover;
        width: 100%;
        height: 176px;
        padding: 10px;
        .border-hover{
            .popup-wrapper{
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                width: 100%;
                height: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                visibility:hidden;
                opacity: 0;
                h5{
                    font-family: var(--body-font);
                    font-size: 16px;
                }
            }
        }
        &:hover{
            .border-hover{
                .popup-wrapper{
                    visibility: visible;
                    opacity: 1;
                }
            } 
        }
    }
    
}

/* -----------------------------------------
    Hosting Price
----------------------------------------- */
.hosting-price-sec{
    background: #FBFBFF;
}

/* -----------------------------------------
    Pricing
----------------------------------------- */
.pricing-sec{
    .pricing-sec-content-wrapper{
        text-align: center;
    }
}

/* -----------------------------------------
    Question Sec
----------------------------------------- */
.frequently-ques-sec{
    .frequently-ques-sec-content-wrapper{
        text-align: center;
    }
    .btn-wrapper{
        text-align:center;
    }
}

/* -----------------------------------------
    Select Us
----------------------------------------- */
.select-us{
    &.right-domain{
        background:#FBFBFF;
    }
    .quality-point-wrapper{
        ul{
            list-style: none;
            li{
                font-family: var(--open-sans);
                font-size: 16px;
                color: var(--gray);
                margin-top: 20px;
                &::before{
                    position: absolute;
                    font-family: "Font Awesome 5 Free";
                    content: "\f00c";
                    font-weight: 600;
                    font-size: 12px;
                    left: 10px;
                    line-height: 28px;
                    color: var(--main-color-one);
                }
            }
        }
    }
}

/* -----------------------------------------
    Service
----------------------------------------- */
.features-sec{
    text-align: center;
    background: var(--white-2);
    &.white-color{
        background-color: var(--heading-color);
    }
}
.our-work-platform{
    text-align: center;
}
.newsletter{
    .newsletter-bg{
        background-color:var(--mixed--p-b-color);
        .newsletter-content-wrapper{
            padding: 0px 70px;
            .newsletter-content{
                h3{
                    color:$white;
                    font-size: 28px;
                    font-family: var( --libre-font);
                    line-height: 1.5;
                } 
            }
            .subscribe-form{
                .input-group{
                    .subscribe-text-field{
                        height: 51px;
                        &::placeholder {
                            color: var(--gray2); 
                            font-size: 14px;
                            font-family: var(--open-sans);
                        }  
                    }               
                }
            }
        }
    }
}

/* -----------------------------------------
    Signin
----------------------------------------- */
.signin-sec{
    .signin-img-wrapper{
        margin: 150px 100px 27px 100px;
        img{
            width: 825px;
            height: auto;
        }
    }
    .right-class{
        background: var(--mixed--p-b-color);
        .signin-wrapper{
            background: #FFFFFF ;
            box-shadow: 1px 2px 4px #33333333;
            border-radius: 6px;
            width: 507px;
            height: 592px;
            margin: 196px 125px 0px auto;
            .signin-header-wrapper{
                display: flex;
                justify-content: space-between;
                box-shadow: 1px 2px 20px #3333331A;
                border-radius: 11px 11px 0px 0px;
                padding: 30px 50px;
                .signin-header-title-wrapper{
                    .signin-header-title{
                        font-family: var(--open-sans);
                        font-size: 14px;
                        color:var(--gray1);
                        margin-bottom: 0px;
                    } 
                }
                .signup-btn-wrapper{
                    .signup{
                        font-family: var(--open-sans);
                        font-size: 14px;
                        color:var(--main-color-one);
                        i{
                            &::before{
                                margin-right: 10px;
                                margin-left: 0px;
                                font-size: 10px;
                                color:var(--gray1);

                            }
                        }
                    }
                }
            }
            .signin-from-wrapper{
                padding: 70px 50px 20px 50px;
                label{
                    font-family: var(--libre-font);
                    font-size: 14px;
                    color:var(--black);
                    font-weight: 600;
                    &.remember{
                        font-family: var(--open-sans);
                        font-size: 14px;
                        color:var(--gray1);
                        font-weight: 400;
                    }
                }
                .form-control{
                    border-top:none;
                    border-right: none;
                    border-left: none;
                    border-radius: 0px;
                    padding: 5px 0px 10px 0px;
                    &::placeholder{
                        font-family: var(--open-sans);
                        font-size: 14px;
                        color:var(--gray1);
                        font-weight: 400;
                    }
                }
                .bottom-form{
                    display: flex;
                    justify-content: space-between;
                    .forget-pass{
                        font-family: var(--open-sans);
                        font-size: 14px;
                        color:var(--gray1);
                        font-weight: 400;
                    }
                }
                .btn-wrapper{
                    .purple{
                        padding: 15px 45px;
                    }
                }
                .sign-up-now-wrapper{
                    display:flex;
                    justify-content: center;
                    p{
                        font-family: var(--open-sans);
                        font-size: 14px;
                        color:var(--gray1);
                        font-weight: 400;
                        margin-right: 5px;
                    }
                    .sign-up-now{
                        font-family: var(--open-sans);
                        font-size: 14px;
                        color:var(--main-color-one);
                        font-weight: 600;
                        margin-top: 2px;
                    }
                }
            }
        }
        .socal-link-wrapper{
            display: flex;
            justify-content: center;
            .socal-btn-wrapper{
                display: flex;
                padding: 10px 30px;
                @include transition($transition);
                .socal-icon-wrapper{
                    margin-right: 10px;
                    i{
                        color:var(--heading-color);
                        font-size: 12px;
                        margin-top: 7px;
                    }
                }
                .socal-content-wrapper{
                    p{
                        color:var(--heading-color);
                        font-family: var(--libre-font);
                        font-size: 14px;
                        margin-bottom: 0px;
                    }
                }
                &:hover{
                    cursor: pointer;
                    box-shadow: 0px 20px 40px #0000001A;
                    padding: 10px 30px;
                }
            }
        }
    }
}

/* -----------------------------------------
    Signup
----------------------------------------- */
.signup-sec{
    .signup-img-wrapper{
        margin: 220px 100px 30px 100px;
        img{
            width: 825px;
            height: auto;
        }
    }
    .right-class{
        background: var(--mixed--p-b-color);
        .signup-wrapper{
            background: #FFFFFF ;
            box-shadow: 1px 2px 4px #33333333;
            border-radius: 6px;
            width: 78%;
            height: auto;
            margin: 36px 125px 36.5px auto;
            .signup-header-wrapper{
                display: flex;
                justify-content: space-between;
                box-shadow: 1px 2px 20px #3333331A;
                border-radius: 11px 11px 0px 0px;
                padding: 30px 50px;
                .signup-header-title-wrapper{
                    .signup-header-title{
                        font-family: var(--open-sans);
                        font-size: 14px;
                        color:var(--gray1);
                        margin-bottom: 0px;
                    } 
                }
                .signin-btn-wrapper{
                    .signin{
                        font-family: var(--open-sans);
                        font-size: 14px;
                        color:var(--main-color-one);
                        i{
                            &::before{
                                margin-right: 10px;
                                margin-left: 0px;
                                font-size: 10px;
                                color:var(--gray1);

                            }
                        }
                    }
                }
            }
            .signup-from-wrapper{
                padding: 50px 50px 0px 50px;
                .padding-l-r-30{
                    padding-left: 30px;
                    padding-right: 30px;
                }
                label{
                    font-family: var(--libre-font);
                    font-size: 14px;
                    color:var(--black);
                    font-weight: 600;
                    &.important{
                        &::after{
                            content:'*';
                            color:var(--red);
                            margin-left: 5px;
                        }
                    }
                   
                }
                .form-control{
                    border-top:none;
                    border-right: none;
                    border-left: none;
                    border-radius: 0px;
                    padding: 5px 0px 10px 0px;
                    &::placeholder{
                        font-family: var(--open-sans);
                        font-size: 14px;
                        color:var(--gray1);
                        font-weight: 400;
                    }
                }
                .btn-wrapper{
                    .purple{
                        padding: 15px 45px;
                    }
                }
                .sign-in-now-wrapper{
                    display:flex;
                    justify-content: center;
                    p{
                        font-family: var(--open-sans);
                        font-size: 14px;
                        color:var(--gray1);
                        font-weight: 400;
                        margin-right: 5px;
                    }
                    .sign-in-now{
                        font-family: var(--open-sans);
                        font-size: 14px;
                        color:var(--main-color-one);
                        font-weight: 600;
                        margin-top: 2px;
                    }
                }
            }
        }
        .socal-link-wrapper{
            display: flex;
            justify-content: center;
            .socal-btn-wrapper{
                display: flex;
                padding: 10px 30px;
                @include transition($transition);
                .socal-icon-wrapper{
                    margin-right: 10px;
                    i{
                        color:var(--heading-color);
                        font-size: 12px;
                        margin-top: 7px;
                    }
                }
                .socal-content-wrapper{
                    p{
                        color:var(--heading-color);
                        font-family: var(--libre-font);
                        font-size: 14px;
                        margin-bottom: 0px;
                    }
                }
                &:hover{
                    cursor: pointer;
                    box-shadow: 0px 20px 40px #0000001A;
                    padding: 10px 30px;
                }
            }
           
        }
    }
    
}

/* -----------------------------------------
    Testimonial
----------------------------------------- */
.testimonial-sec{
    background: var(--white-2);
    &.team{
        background: white;
    }
    .testimonial-sec-content-wrapper{
        text-align: center;
    }
}

/* -----------------------------------------
    Back-to-top
----------------------------------------- */
.back-to-top {
    position: fixed;
    right: 6vw;
    bottom: 30px;
    width: 35px;
    height: 35px;
    background-color: #C6C6C6;
    color: #fff;
    text-align: center;
    z-index: 99;
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.21);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.21);
    display: none;
    fill: white;
    line-height: 36px;
    transition: all .5s;
    &.home-2-b-t-t{
        background-color: #FFFFFF;
        opacity: 0.8;
        svg:not(:root) {
            overflow: hidden;
            fill: black;
        }
        &:hover{
            background-color: var(--home-2-color);
        }
    }
    &.home-3-b-t-t{
        
        &:hover{
            background-color: var(--home-3-color);
            -webkit-box-shadow: 0 0 5px #f9c93559;
            box-shadow: 0 0 5px #f9c93559;
        }
    }
    &:hover{
        background-color: var(--main-color-one);
        -webkit-box-shadow: 0 0 5px #f9c93559;
        box-shadow: 0 0 5px #f9c93559;
    }
    
}

/* -----------------------------------------
    Accordion
----------------------------------------- */
.accordion-wrapper{
    &.parallax-accordian{
        width: 60%;
        margin: 0 auto;
    }
    .card{
        box-shadow: 0px 0px 10px rgba(102, 102, 102, 0.2);;
        +.card{
            margin-top: 20px;
        }
        border: none;
        background-color: transparent;
        .card-header{
            background-color: transparent;
            padding: 0;
            border: none;
            padding: 20px 30px;
            border-radius: 5px;
            line-height: 50px;
            a{
                display: block;
                font-size: 16px;
                line-height: 26px;
                font-weight: 600;
                background: #FFFFFF 0% 0% no-repeat padding-box;
                cursor: pointer;
                position: relative;
                font-family: var(--libre-font);
                color: var(--secondary-color);
                
                &:after{
                    position: absolute;
                    right: 6px;
                    top: 0px;
                    content: "\f068";
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    font-size: 14px;
                    color:var(--gray1);
                }
                &[aria-expanded="false"]{
                    background: #FFFFFF 0% 0% no-repeat padding-box;
                    color:var(--secondary-color);
                    &:after{
                        content: "\f067";
                        color:var(--gray1);
                    }
                }
                &.home-2-accordian-color{
                    color:var(--home-2-color);
                    &[aria-expanded="false"]{
                        color:var(--home-2-color);
                    }

                }
                &.home-3-accordian-color{
                    color:var(--home-3-color);
                    &[aria-expanded="false"]{
                        color:var(--home-3-color);
                    }

                }
            }
        }
        .card-body{
            padding: 10px 40px 20px 30px;
            font-family: var(--open-sans);
            color: var(--secondary-color);
            background-color: #ffffff;
            border-radius: 5px;
            font-size: 14px;
            font-weight: 300;
            opacity: 1;
        }
    }
}

/* -----------------------------------------
    Countdown
----------------------------------------- */
.countdown {
    display: flex;
    align-items: center;
    color: var(--secondary-color);
    &.countdown-style-2{
        .days,.hours,.mins{
            background: var(--main-color-one);
            padding: 0px 15px;
            &::after{
                display: none;
            }
        }
        h6{
            line-height: 40px;
        }
    }
    &.countdown-style-3{
        .days,.hours,.mins{
            color: var(--heading-color);
            &::after{
                display: none;
            }
        }
        h6{
            color: var(--heading-color);
        }
        .divider{
            border-left: 3px solid white;
            height: 56px;
            margin-top: -38px;
        }
    }
    .days,.hours,.mins{
        text-align: center;
        font-size: 100px;
        line-height: 100px;
        font-family: var(--heading-font);
        &::after {
            content: " ";
            display: block;
            height: 6px;
            background: var(--secondary-color);
            width: 100%;
        }
    }
    h6{
        text-align: center;
        font-size: 14px;
        font-family: var(--body-font);
        font-family: 300;
        line-height: 24px;
    }
    .divider{
        margin-top: -85px;
        margin-right: 30px;
        margin-left: 30px;
        .dot{
            height: 8px;
            width: 8px;
            background-color:var(--secondary-color);
            border-radius: 50%;
            display: block;
            margin-top: 40px;
        }
    }
}
.countdown-bg{
    background: var(--secondary-color);

}

/* -----------------------------------------
    Icons
----------------------------------------- */
.icon-wrapper{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40vh;
    left: 80px;
    @include transition($transition);
    i{
        margin: 15px 0px;
        cursor: pointer;
        &:hover{
            color: var(--main-color-one);
        }
    }
}
.scroll-wrapper{
    display: flex;
    transform: rotate(-90deg);
    position: absolute;
    top: 86vh;
    left: 8px;
    cursor: pointer;
    @include transition($transition);
    .big-arrow{
        margin: 13px 20px;
        .line{
            width:90px;
            background: var(--paragraph-color);
            height:2px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            &::before{
                content: "\f053";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                margin-left: -3px;
               
            }
        }
    }
    &:hover{
        p{
            color:var(--main-color-one);
        }
        .big-arrow{
            .line{
                background: var(--main-color-one);
                &::before{
                    color:var(--main-color-one);
                }
            }
            
        }
    }
}
.header-slider-controller{
    position: absolute;
    display: flex;
    bottom: 50px;
    left: 14.2vw;
    .header-prev-arrow,.header-next-arrow{
        padding: 7px 14px;
        border-radius: 100%;
        border: 1px solid var(--paragraph-color);
        margin: 10px 13px;
        cursor: pointer;
        @include transition($transition);
        &:hover{
            border: 1px solid var(--main-color-one);
            color:var(--main-color-one);
        }
    
    }
}

.slider-inner-content .showcase-sec-heading {
    margin-bottom: 30px;
}
.slider-inner-content .showcase-sec-para {
    margin-bottom: 40px;
}
.quote-wrapper {
    margin-top: 50px;
}
/* -----------------------------------------
    Map
----------------------------------------- */
.google-map-section {
    position: relative;
    z-index: -1;
    #map {
        width: 100%;
        min-height: 600px;
        height: 100%;     
    }
}

/* -----------------------------------------
    Pagination
----------------------------------------- */
.pagination-wrapper{
    display:flex;
    justify-content:center;
    &.pagination-left{
        justify-content: flex-start;
    }
    .pagination-indicator {
        padding: 4px 9px;
        -webkit-transition-duration: 0.4s;
        -o-transition-duration: 0.4s;
        transition-duration: 0.4s;
        color: var(--secondary-color);
        cursor: pointer;

        .pagn-text {
            font-family: "Poppins",sans-serif;
            margin-bottom: 0px;
            font-weight: 300;
        }

        &:hover,
        &:active {
            background-color: var(--secondary-color);
            color: var(--heading-color);
        }
        &.active{
            background-color: var(--secondary-color);
            color: var(--heading-color);
        }

    }
}
.btm-slider-btn-2{
    width: 218px;
    margin-bottom: 40px;
    .slider-btn{
        display: flex;
        align-items: center;
        .custm-postn{
            position: relative;
            opacity: 1;
            .triangle-left {
                border-top: 12px solid transparent;
                border-right: 19px solid var(--secondary-color);
                border-bottom: 12px solid transparent;
                cursor: pointer;
               
            }
            .triangle-right {
                border-top: 12px solid transparent;
                border-left: 19px solid var(--secondary-color) ;
                border-bottom: 12px solid transparent;
                cursor: pointer;
                @include transition($transition);
                
            }
        }
        .vl{
            width: 2px;
            background-color: var(--secondary-color);
            height: 28px;
        
        }
    }
    .page-num{
        display: flex;
        align-items: center;
        .page-indicators{
            position: relative;
            margin: 0px;
            z-index: 1;
            display: flex;
        }
        .current{
            color: var(--secondary-color);
            font-weight: 500;

        }
        .total{
            color:var(--secondary-color);
        }
        .carousel-indicators{
            bottom:0px;
            .indicator{
                height: 1.5px;
                width: 1.5rem;
                background-color: #80808094;
                @supports (-ms-ime-align: auto) {
                    /* Microsoft EdgeV13&14 CSS styles go here */
                    background-color: gray;
                    opacity: 0.5;
                 }
                cursor: pointer;
                @include transition($transition);
                &:hover{
                    background-color: var(--secondary-color) !important;
                }

            }
            .active{
                background-color: var(--secondary-color);  
            }
        }
        
    }
}

/* -----------------------------------------
    Progress
----------------------------------------- */
.basic-prgress {
    display: flex;
    height: 6px;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: 0px;
    &.advance-prgress{
        height: 16px;
    }
}
.bg-danger {
    background-color: #CB0000!important;
    width: 50%
}
.bg-info {
    background-color: #00A5E2 !important;
    width: 45%
}
.bg-success {
    background-color: #02BA2D !important;
    width: 70%;
}

/* -----------------------------------------
    Social Icon
----------------------------------------- */
.myico{
    font-size: 15px;
    i{
      color: var(--gray);
      padding: 0px 0.2vw;
    }
    i:hover{
        color:white;
        transition: color 0.3s;
        cursor: pointer;
    }
}

/* -----------------------------------------
    Table
----------------------------------------- */
table {
    border-collapse: collapse;
    border-radius: 1em;
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 2px 4px #66666633;
    tr{
        background: var(--heading-color);
        border-bottom: 2px solid rgba($gray,0.1);
        color:var(--gray);
        @include transition($transition);
        &:last-child{
            border-bottom:0px;
        }
       
        th {
            padding: 1em;
            background: var(--blue);
            font-family:var(--open-sans);
            font-size: 16px;
            text-transform: uppercase; 
            font-weight: 600;
            color:var(--heading-color);
           
        }
        td{
            padding: 1em;  
            font-family:var(--open-sans);
            font-size: 16px;
          
            padding: 25px 0px;
           
            &.table-domain-name{
                font-weight: 600;
            }
            &.buy-btn-wrapper{
                .btn-wrapper{
                    .buy-now-btn{
                        font-family:  var(--open-sans);
                        font-weight: 400;
                        color: var(--blue);
                        padding: 11px 15px;
                        border-radius:50px;
                        background: var(--heading-color);
                        font-size: 14px;
                        border: 1px solid var(--blue);
                        @include transition($transition);
                        i{
                            &::before{
                                font-size: 12px;
                                font-style: normal;
                                margin-right: 10px;
                                margin-left: 0px;
                            }
                        }
                        &:hover{
                            color:var(--heading-color);
                            background: var(--blue);
                        }
                    }
                }
            }
        }
    }
    
  }

/* -----------------------------------------
    Testimonial Item
----------------------------------------- */
.testimonial-item-01 {
    display: flex;
    align-self: flex-start;
    .thumbnail {
        margin-right: 20px;
       flex: 0.36;
        
    }
    .text-wrapper {
        flex: 1;
        .cmnt {
            font-size: 14px;
            color: #fff;
            letter-spacing: 1px;
            margin-bottom: 20px;
        }
        .cmnter-name {
            font-family: var(--body-font);
            font-size: 14px;
            color: var(--main-color-one);
            font-weight: 500;
            letter-spacing: 1px;
            &.home-2-cmnt{
                color:var(--home-2-color);
            }
        }
        
        .posted{
            color: var(--heading-color);
            font-size: 13px !important;
            letter-spacing: 0.5px !important;
            font-weight: 300 !important;
        }
    }
}

/* -----------------------------------------
    About
----------------------------------------- */




