/*----------------------------------------------
    # Nav bar 
----------------------------------------------*/
.navbar.navbar-area.white .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.50)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar.navbar-area .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.50)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.mobile-logo{
    display: none;
}
.navbar-toggler-icon-wrap {
    i {
        color: #fff;
    }
}
.navbar-area{
    padding: 0;
    &.nav-absolute{
        position: absolute;
        left: 0;
        width: 100%;
        top:30px;
        z-index: 1;
    }
    &.nav-style-01 {
        .nav-container {
            .menu-wrapper{
                .navbar-collapse {
                    .navbar-nav {
                        li{
                            &.menu-item-has-children{
                                &:before{
                                    border-top: .6em solid var(--heading-color);
                                }

                            }
                            a {
                                color: var(--heading-color); 
                               
                            }
                        }
                    }
                }
            } 
        }
    }
    .nav-container{
        //change nav bar background to transparent
        background-color: transparent;
        box-shadow: none;
        border-radius: 0;
        padding: 0 15px;
        .nav-right-content{
            &.white-right-content{
                ul{
                    li{
                        a{
                            .number-ico{
                                color:var(--heading-color);
                                &:after{
                                    background: var(--heading-color);
                                    color:var(--main-color-one);
                                }
                            }
                            &.signin-btn{
                                background:var(--heading-color);
                                color:var(--mixed--p-b-color);
                            }
                            &:hover{
                                &.signin-btn{
                                   color:var(--mixed--p-b-color);
                                }
                            }
                        }
                    }
                }
            }
            ul{
                margin: 0;
                padding: 0;
                list-style: none;
                li{
                    display: inline-block;
                    &:last-child{
                        margin-right: 0;
                    }
                    color: #6a7795;
                    a{
                        .number-ico{
                            font-size: 12px;
                            margin: -5px;
                            &:after{
                                content: "0";
                                font-size: 10px;
                                background: var(--main-color-one);
                                padding: 4px 7px;
                                color: var(--heading-color);
                                position: relative;
                                left: -30px;
                                top: -14px;
                                border-radius: 100%;
                            }
                        }
                        &.signin-btn{
                            padding: 8px 30px;
                            background-size: 300% 100%;
                            background-image: linear-gradient(to right, var(--purple-color), var(--main-color-one), var(--main-color-one), var(--purple-color));
                            border-radius: 50px;
                            color: var(--heading-color);
                            font-weight: 100;
                            @include transition($transition);
                            
                        }
                        color: #6a7795;
                        @include transition($transition);
                       &:hover{
                            color: var(--main-color-one);
                            &.signin-btn{
                                background-position: 100% 0;
                                color: var(--heading-color);
                                box-shadow: 0 4px 10px 0 rgba(116, 79, 168, 0.70);
                                -o-transition: all .4s ease-in-out;
                                -webkit-transition: all .4s ease-in-out;
                                transition: all .4s ease-in-out;
                            }
                        }
                    }
                    &.search{
                       cursor: pointer;
                       @include transition($transition);
                       &:hover{
                            color:var(--main-color-one);
                        }
                    }
                    &.nav-btn{
                        .btn-boxed{
                            font-weight: 600;
                            text-transform: capitalize;
                            border-radius: 5px;
                            background-color: var(--main-color-one);
                            &:hover{
                                background-color: var(--secondary-color);
                            }
                        }
                    }
                }
            }
        }
        .navbar-brand{
            img{
                width: 178px;
                height: auto;
            }
            .site-title{
                font-weight: 700;
                font-size: 30px;
                font-family: var(--heading-font);
                line-height: 90px;
                color: var(--heading-color);
            }
        }
        //Signature button Wrapper  //Custom Maid 
        .nav-button-wrapper{
            position: relative;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            flex: 0 0 8.333333%;
            max-width: 8.333333%;
            margin-left: 41.666667%;
            text-align: center;
            .menu-toggle {
                span{
                    display: block;
                    width: 18px;
                    height: 2px;
                    background-color: $white;
                    transition: all 0.3s;
                    margin: 0px 26% 3px auto;
                    &:nth-child(2){
                        width: 12px;
                        transform: translateX(-50%);
                    }
                }
               
                &:hover span:nth-child(1){
                    background-color: var(--main-color-one);
                    
                }
                &:hover span:nth-child(2){
                    background-color: var(--main-color-one);
                    transform: translateX(1%);
                }
                &:hover span:nth-child(3){
                    background-color:var(--main-color-one);
                }            
            }
        }
            
        .navbar-collapse{
            &.white-nav{
                .navbar-nav{
                    li{
                        a{
                            color: var(--heading-color);
                            font-weight: 100;
                        }
                        &:hover{
                            a
                            {
                                color:var(--heading-color);
                            }
                        }
                    }
                }
            }
            .navbar-nav{
                display: block;
                width: 100%;
                text-align: right;
                li{
                    cursor: pointer;
                    +li{
                        margin-left: 22px;
                    }
                    display: inline-block;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 60px;
                    margin-top: 6px;
                    &.current-menu-item{
                        a{
                            color: var(--main-color-one);
                        }
                    }
                    &.menu-item-has-children{
                        position: relative;
                        z-index: 0;
                        &:hover > .sub-menu{
                            visibility: visible;
                            opacity: 1;
                        }
                        .sub-menu{
                            position: absolute;
                            text-align: left;
                            min-width: 140px;
                            margin: 0;
                            padding: 0;
                            list-style: none;
                            left: 0;
                            top: 100%;
                            box-shadow: 1px 20px 30px #CCCCCC33;
                            background-color:$white;
                            z-index: 9;
                            visibility: hidden;
                            opacity: 0;
                            padding: 10px 0px 15px 0px;
                            @include transition($transition);
                            li{
                                display: block;
                                margin-left: 0;
                                line-height: 15px;
                                font-size: 13px;
                                &:last-child{
                                    &:after{
                                        display: none;
                                    }
                                    
                                }
                                a{
                                    display: block;
                                    padding: 8px 20px;
                                    white-space: nowrap;
                                    color: var(--paragraph-color);
                                    @include transition($transition);
                                    &:hover{
                                        color:var(--mixed--p-b-color);
                                        margin-left: 5px;
                                    }
                                }
                            }
                            .menu-item-has-children{
                                position: relative;
                                z-index: 0;
                                padding-right: 0px;
                                &:before{
                                    position: absolute;
                                    right: 15px;
                                    top: 50%;
                                    content: '';
                                    border-top: .4em solid transparent;
                                    border-right: 0;
                                    border-bottom: .4em solid transparent;
                                    border-left: .6em solid $white;
                                    @include transform(translateY(-50%));
                                    cursor: pointer;
                                }
                                &:hover{
                                    > a{
                                        color: var(--secondary-color);
                                    }
                                    &:before{
                                        border-left: .6em solid var(--secondary-color);
                                    }
                                }
                                > .sub-menu{
                                    left: 100%;
                                    top: 3px;
                                    .sub-menu {
                                        .sub-menu{
                                            left: auto;
                                            right: 100%;
                                        }
                                    }
                                }
                                &:hover > .sub-menu{
                                    visibility: visible;
                                    opacity: 1;
                                    li{
                                        &:hover{
                                            &:before{
                                                color:  var(--secondary-color) ;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    a{
                        .number-ico{
                            font-size: 12px;
                            margin: -5px;
                            &:after{
                                content: "3";
                                font-size: 8px;
                                background: var(--heading-color);
                                padding: 2px 4px;
                                color: var(--secondary-color);
                                position: relative;
                                left: -5px;
                                top: -13px;
                                border-radius: 100%;
                            }
                        }
                       
                        color: var(--secondary-color);
                        text-transform: capitalize;
                        @include transition($transition);
                        &:hover{
                            color: var(--main-color-one);
                            .number-ico{
                                &:after{
                                    background: var(--main-color-one);
                                }
                            }
                            
                        }
                    }
                    &:hover{
                        &.menu-item-has-children{
                            &:before{
                                border-top:.6em solid var(--main-color-one); 
                            }
                        }
                        a{
                            color: var(--main-color-one);
                            .badge{
                                &:after{
                                    background: var(--main-color-one);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 991px){
    .navbar-area.nav-style-01 .nav-container .menu-wrapper .navbar-collapse .navbar-nav li a {
        color: var(--secondary-color);
    }
    .navbar-area.nav-style-01 .nav-container .menu-wrapper .navbar-collapse .navbar-nav li.menu-item-has-children:before {
        border-top: 0.6em solid var(--secondary-color);
    }
    .navbar-area .nav-container .navbar-collapse.white-nav .navbar-nav li:hover a,
    .navbar-area .nav-container .navbar-collapse.white-nav .navbar-nav li a {
        color: var(--secondary-color);
    }
   
    .navbar-area {
        .nav-container{
            position: relative;
            z-index: 0;
            min-height: 80px;
            // padding: 20px 0px;
            .responsive-mobile-menu{
                display: block;
                .navbar-toggler{
                    position: absolute;
                    right: 25px;
                    top: 14px;
                }
            }
            .nav-button-wrapper{
                position: absolute;
                top:11px;
                .navigation-bar{
                    display: none;
                }
            }
           
            .navbar-collapse {
                background:var(--main-color-one);
                color:$white;
                transition: all 0.5s;
                .navbar-nav{
                    display: block;
                    margin-top: 20px;
                    margin-left: 0px;
                    li{
                        display: block;
                        text-align: left;
                        line-height: 30px;
                        padding: 10px 0;
                        border-bottom: 1px solid var(--secondary-color);
                        &:last-child{
                            border-bottom: none;
                        }
                        +li{
                            margin-left: 0;
                            padding-left:15px;
                            padding-right: 15px;
                        }

                        &.menu-item-has-children {
                            padding-left: 15px;
                            @include transition($transition);
                            &:before{
                                top: 25px;
                                right: 20px;
                            }
                            &:hover{
                                padding-bottom: 0;
                                > .sub-menu{
                                    visibility: visible;
                                    height: auto;
                                    opacity: 1;
                                    background-color: transparent;
                                    border-bottom: none;
                                    background-color: white;     
                                    border-bottom: none;
                                    margin: 15px 0px;
                                }
                                >.sub-menu{
                                    padding: 0px 0px 0px 0px;
                                    height: auto;
                                }
                            }
                            .sub-menu{
                                position: initial;
                                display: block;
                                width: 100%;
                                border-top: none;
                                box-shadow: none;
                                margin-left: 0;
                                padding-bottom: 0;
                                visibility: hidden;
                                opacity: 0;
                                height: 0;
                                overflow: hidden;
                                max-height: 250px;
                                overflow-y:scroll;
                                @include transition(height 500ms);
                                .menu-item-has-children{
                                    position: relative;
                                    z-index: 0;
                                    padding-right: 0px;
                                    &:before{
                                        position: absolute;
                                        right: 15px;
                                        top: 50%;
                                        content: '';
                                        border-top: .4em solid transparent;
                                        border-right: 0;
                                        border-bottom: .4em solid transparent;
                                        border-left: .6em solid var(--secondary-color);
                                        @include transform(translateY(-50%));
                                        cursor: pointer;
                                        transform: rotate(90deg) !important;
                                    }
                                    &:hover {
                                        > .sub-menu{
                                            visibility: visible;
                                            opacity: 1;
                                            /* color: var(--gray); */
                                            background: #cecece;
                                            margin: 0px 20px;
                                            width: 88%;
                                        }
                                        
                                    }
                                }
                                .sub-menu .menu-item-has-children:before{
                                    content: "\f107";
                                }
                                li{

                                a{
                                    color:var(--secondary-color);
                                }
                                    &.menu-item-has-children{
                                        &:hover{
                                            &:before{
                                            top: 15px;
                                            color: var(--secondary-color);
                                            transform: rotate(90deg);
                                            }
                                        }
                                    }
                                    padding: 0;
                                    +li{
                                        border-top: none;
                                    }
                                    &:first-child{
                                        border-top: 1px solid #e2e2e2;
                                    }
                                    &::after{
                                        height: 0px;
                                    }
                                }
                            }
                            .sub-menu{
                                height: 0px;
                                padding: 0px;
                                width: 100%;
                                @include transition($transition);
                            }

                            
                        }
                        &:hover{
                        &.menu-item-has-children{
                            &:before{
                                border-top:.6em solid var(--secondary-color); 
                            }
                        }
                        a{
                            color: var(--secondary-color);
                            .badge{
                                &:after{
                                    background: var(--secondary-color);
                                }
                            }
                        }
                    }
                    }
                }
            }
    
             
        }
    }
}
@media  (min-width: 768px) and (max-width: 991px) {
    .navbar-area .nav-container .menu-wrapper {
        top: 85px;
    }
}
@media only screen and (max-width: 575px){
    .navbar-area {
        .nav-container{
            margin: 0 15px;
        }
    }
}

//MEDIA QUERY 1366
@media (max-width: 1366px){
    .navbar-area {
        .nav-container{
            .menu-wrapper {
                .navbar-collapse{
                    .navbar-nav {
                        li{
                            &.menu-item-has-children
                            {
                                .sub-menu{
                                    .menu-item-has-children{
                                        &:before{
                                            transform: rotate(180deg);
                                            top: 35%;
                                        }
                                        > .sub-menu {
                                            left: -100% ;
                                        
                                        }
                                    } 
                                }
                                 
                            } 
                        }
                        
                    }
                } 
            }
            
        }
        
    }
}
@media (max-width: 1024px){
    .navbar-area {
        .nav-container{
            .menu-wrapper {
                .navbar-collapse{
                    .navbar-nav {
                        li{
                            &.menu-item-has-children
                            {
                                .sub-menu{
                                    left:-100%;
                                }
                                 
                            } 
                        }
                        
                    }
                } 
            }
            
        }
        
    }
}



// .navbar-area.nav-fixed {
//     width: 100%;
//     position: fixed;
//     background-color: var(--white-2);
//     top: 0;
//     animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
//     box-shadow: 0 4px 6px 0 rgba(12,0,46,0.06);
// }

// .navbar-area.nav-fixed .nav-container .navbar-collapse .navbar-nav li a {
//     color: var(--secondary-color);
// }
// .navbar-area.nav-fixed .nav-container .nav-right-content ul li a {
//     color: var(--secondary-color);
// }
// .navbar-area.nav-fixed .nav-container .nav-right-content ul li a.signin-btn {
//     color: var(--white);
// }



