/*--------------------------------------------------------------
	## WIdgets
--------------------------------------------------------------*/
.widget {
	&.Dizzcox_testimonial_widget{
		background-color: var(--secondary-color);
	}
	// background-color: #F4F7FC;
	margin-bottom: 30px;
	// padding: 25px 30px 30px 30px;
}
.widget select{
	width: 100%;
	height: 50px;
	padding: 10px 20px;
}


.widget.widget_calendar {
	padding-right: 24px;
	padding-left: 24px;
}
.widget:last-child {
	margin-bottom: 0px;
}
.widget.widget_nav_menu ul li.menu-item-has-children:after {
	display: none;
}
.widget.footer-widget .subscribe-form{
	.form-group{
		.form-control{
			background-color: #515457;
			color: $white;
			@include placeholder-color(rgba($white,.6));
		}
	}
	.submit-btn{
		&:hover{
			background-color: $white;
			color: var(--main-color-one);
		}
	}
}
.widget.footer-widget {
	background-color: transparent !important;
	padding: 0;
	margin-bottom: 30px;
}
.widget ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.widget ul li ul {
	margin-left: 20px;
}
.widget ul li {
	display: block;
	// margin: 8px 0;
	
	word-break: break-word;
}

.widget ul li:first-child {
	margin-top: 0px;
}

.widget ul li:last-child {
	margin-bottom: 0px;
}

.widget ul li a {
	color: inherit;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.widget ul li a:hover {
	color: var(--main-color-one);
}

.footer-widget.widget_nav_menu ul li a {
	position: relative;
	padding-left: 15px;
}

.footer-widget.widget_nav_menu ul li a:after {
	position: absolute;
	left: 0;
	top: 0;
	content: "";
	font-family: "fontawesome";
	font-weight: 900;
	color: var(--main-color-one);
}


.widget_search .search-form {
	position: relative;
}

.widget_search .search-form .form-group {
	margin-bottom: 0;
}

.widget_search .search-form .form-group .form-control {
	height: 50px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 0 70px 0 15px;
}

.widget_search .search-form .submit-btn {
	position: absolute;
	right: 0;
	top: 0;
	width: 60px;
	height: 50px;
	line-height: 50px;
	padding: 0;
	font-size: 18px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: var(--main-color-one);
	color: #fff;
	transition: .3s ease-in;
	border: none;
	cursor: pointer;
}
.widget_search .search-form .submit-btn:hover{
	background-color: var(--secondary-color);
	color: #fff;
}
.widget_author_meta {
	text-align: center;
}

.widget_author_meta .thumb {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.widget_author_meta .thumb img {
	border-radius: 50%;
}

.widget_author_meta .content .name {
	font-size: 21px;
	font-weight: 700;
}

.widget_author_meta .content p {
	font-size: 16px;
	line-height: 26px;
}

.widget_author_meta .content ul {
	margin-top: 25px;
}

.widget_author_meta .content ul li {
	display: inline-block;
	margin: 0 5px;
}

.widget_author_meta .content ul li a {
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.widget_author_meta .content ul li a:hover {
	background-color: var(--main-color-one);
	color: #fff;
}

.widget_tag_cloud .tagcloud a {
	display: inline-block;
	padding: 5px 15px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin: 5px;
	color: inherit;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	border-radius: 5px;
	font-size: 16px !important;
}

.widget_tag_cloud .tagcloud a:hover {
	background-color: var(--main-color-one);
	color: #fff;
}

.widget ul li ul.sub-menu {
	position: initial;
}

.widget ul li ul.sub-menu {
	visibility: visible;
	opacity: 1;
	background-color: transparent;
	border-top: none;
	box-shadow: none;
	margin-top: 10px;
}

.widget ul li ul.sub-menu li a {
	padding: 0 0 0px 10px;
}

.widget ul li ul.sub-menu li a:hover {
	background-color: transparent;
}

.widget.widget_nav_menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.widget.widget_nav_menu ul li {
	margin: 15px 0
}
.widget.widget_nav_menu ul li:first-child{
	margin-top: 0;
}
.widget.widget_nav_menu ul li:last-child{
	margin-bottom: 0;
}
.widget.widget_nav_menu ul li a {
	border: none;
}
.widget.widget_nav_menu ul li>ul{
	margin-left:15px
}

//== footer widget
.widget.footer-widget.widget_calendar table {
	margin-bottom: 0;
}

.widget.footer-widget.widget_calendar caption {
	padding-bottom: 0;
}
.widget.footer-widget .widget-title {
	color: var(--main-color-one);
}

.widget.footer-widget p,
.footer-widget.widget_tag_cloud .tagcloud a,
.widget.footer-widget.widget_calendar caption,
.widget.footer-widget.widget_calendar th,
.widget.footer-widget.widget_calendar td{
	color: white;
}

.widget.footer-widget ul li a ,
.widget.footer-widget ul li {
	color:var(--gray);
}

.widget.footer-widget ul li a:hover{
	color: var(--main-color-one);
}
.widget .social_share{
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: nowrap;
	li{
		width: calc(100% / 3);
		margin: 0;
		display: block;
		padding: 20px 0 12px 0;
		text-align: center;
		border-radius: 5px;
		color: $white;
		i{
			display: block;
			margin-bottom: 10px;
			font-size: 20px;
		}
		&.facebook{
			background-color: $facebook;
		}
		&.twitter{
			background-color: $twitter;
		}
		&.instagram{
			background-color: $instagram;
		}
		a{
			&:hover{
				color: $white;
			}
		}
		+li{
			margin-left: 10px;
		}
	}
}
.widget .recent_post_item{
	margin: 0;
	padding: 0;
	list-style: none;
	li{
		display: block;
		+li{
			margin-top: 20px;
		}
		&.single-recent-post-item{
			display: flex;
			align-self: flex-start;
			.thumb{
				width: 60px; 
				height: 60px;
				margin-right: 15px;
			}
			.content{
				flex: 1;
				.title{
					font-size: 16px;
					line-height: 20px;
					font-weight: 600;
				}
				.time{
					font-size: 14px;
					font-weight: 500;
				}
			}
		}
	}
}

.contact_info_list{
	margin: 0;
	padding: 0;
	list-style: none;
	li{
		display: block;
		&.single-info-item{
			position: relative;
			margin-bottom: 20px;
			.icon{
				position: absolute;
				left: 0;
				top: 0;
				color: var(--main-color-one);
			}
			.details{
				padding-left: 30px;
			}
		}
		
	}
}

.about_us_widget{
	.footer-logo{
		margin-bottom: 30px;
		display: block;
	}
}

.copyright-area{
	padding: 20px 0;
	text-align: center;
	color: rgba($white,.7);
}

.widget-testimonial{
	.icon{
		font-size: 70px;
		line-height: 60px;
		color: var(--main-color-one);
		margin-bottom: 16px;
	}
	p{
		color: rgba($white,.8);
		line-height: 1.6;
	}
	.author-meta{
		display: flex;
		align-self: flex-start;
		margin-top: 24px;
		.thumb{
			margin-right: 20px;
			img{
				max-width: 80px;
				height: 80px;
				border-radius: 50%;
			}
		}
		.content{
			flex: 1;
			margin-top: 15px;
			.name{
				font-size: 18px;
				line-height: 26px;
				font-weight: 700;
				color: $white;
				margin-bottom: 0;
			}
			.designation{
				color: rgba($white,.8);
				font-size: 14px;
			}
		}
	}
}

//MY WIDGET CLASSS

.widget_search{
	background: #FBFBFF;
	padding: 20px 30px;
	.search-form{
		display: flex;
		justify-content: space-between;
		background: $white;
		box-shadow: 1px 2px 4px #6666661A;
		border-radius: 3px;
		padding: 10px 30px;
		.form-group {
			width: 100%;
		}
		input{
			border: none;
			width: 100%;
			line-height: 100%;
			&::placeholder{
				font-family: var(--open-sans);
				font-size: 14px;
			}
		}
		.search-icon{
			i{
				color:var(--mixed--p-b-color);
				&::after{
					font-size: 16px;
				}
			}
		}
	}
}
//Search Widget Done
.widget-title{
	font-size: 20px;
	font-family: var(--libre-font);
	color:var(--black);
	font-weight: 600;
	margin-bottom:20px;
	&::after {
		content: "";
		display: block;
		height: 1px;
		width: 35px;
		background: var(--mixed--p-b-color);
		margin-top: 5px;
	}
}
//Popular Post WidgeT Start
.widget-popular-post{
	border: 7px solid #FBFBFF;
	padding: 30px;
	
	ul{
		li{
			.media{
				margin-bottom: 20px;
				.media-body{
					.date-wrapper{
						display: flex;
						align-items: center;
						margin-bottom: 15px;
						.blog-date{
							font-family: var(--libre-font);
							font-size: 14px;
							font-weight: 400;
							margin-bottom: 0px;
						}
						i{
							&:before{
								margin-left: 0px;
								font-size: 15px;
								margin-right: 5px;
								color:var(--mixed--p-b-color);
							}
						}
					}
					.title{
						font-family: var(--open-sans);
						font-size:16px;
						line-height: 1.5;
						color: var(--black);
						font-weight: 600;
						padding-right: 30px;
					}
				}
			}
		}
	}
}
//Popular Tag
.widget-popular-cat{
	border: 7px solid #FBFBFF;
	padding: 30px;
	.navs--categories{
		.navs__item{
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0;
			}
			.navs__link{
				display: flex;
				justify-content: space-between;
				border: 1px solid #034FBE1A;
				border-radius: 5px;
				padding: 10px;
				outline: 0;
				@include transition($transition);
				.navs__link-text{
					font-family: var(--open-sans);
					font-size: 14px;
				}
				&:hover{
					background: #FFFFFF 0% 0% no-repeat padding-box;
					box-shadow: 1px 4px 6px #27277A1A;
					border-radius: 5px;
					border: 1px solid transparent;
					.navs__link-text{
						color:var(--mixed--p-b-color);
					}
				}
			}
		}
	}
}

.widget-following-us{
	border: 7px solid #FBFBFF;
	padding: 30px;
	.socal-icon-wrapper{
		display: flex;
		align-items: center;
		.socal-icon{
			border: 0.5px solid #909090;
			border-radius: 2px;
			width: 30px;
			height: 30px;
			margin-right: 10px;
			@include transition($transition);
			
			i{
				padding: 6px;
				&.pad-center{
					padding: 5px 9px;
				}
			}	
			&:hover{
				border: 0.5px solid var(--main-color-one);
				background: var(--main-color-one);
				i{
					color:$white;
					cursor: pointer;
				}
			}
		}

	}
}
.widget-archives{
	background: #FBFBFF;
	padding: 20px 30px;
	select{
		border: 1px solid var(--gray1);
		border-radius: 3px;
		height: 40px;
		padding: 0px 20px 0 12px;
		background: #FBFBFF;
		color:var(--gray1);
		font-family: var(--open-san);
		font-size: 14px;
	}
}

.widget-gallery{
	border: 7px solid #FBFBFF;
	padding: 30px;
}

.widget_popular_tag{
	border: 7px solid #FBFBFF;
	padding: 30px;
	.navs--tag{
		flex-wrap: wrap;
		align-items: center;
		display: flex;
		.navs__item{
			margin-right: 20px;
			margin-bottom: 20px;
			padding: 10px 20px;
			border: 1px solid #909090;
			border-radius: 24px;
			font-family: var(--open-sans);
			font-size: 12px;
			.navs__link{
				&:hover{
					color:$white;
				}
			}
			&:hover{
				background: var(--main-color-one);
				color:$white;
				border: 1px solid var(--main-color-one);

			}

		}
		
	}
}

.widget_about{
	border: 7px solid #FBFBFF;
	padding: 30px;
	.widget-title{
		&::after {
			height: 0px;
		}
	}
	.widget-para{
		font-family: var(--open-sans);
		font-size: 14px;
		line-height: 25px;
		color: var(--gray1);
	}
	.widget-profile{
		display: flex;
		.profile-img-wrapper {
			img {
				border-radius: 50%;
			}
		}
		.follow-me-wrapper{
			margin-left: 15px;
			margin-top: 15px;
			h4{
				font-family: var(--open-sans);
				font-size: 14px;
				color:var(--black);
				font-weight: 600;
			}
			.socal-icon-wrapper{
				display: flex;
				.socal-icon{
					margin-right: 12px;
					i{
						font-size: 15px;
						color:var(--gray1);
						cursor: pointer;
						transition: 0.3s;
						&:hover{
							color: var(--main-color-one);
						}
					}
				}
			}
		}
	}
}



.widget_add{
	background-image:  url(../img/blog-add.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	display: flex;
	align-items: center;
	.widget-title{
		font-family: var(--open-sans);
		font-size: 36px;
		color:$white;
		text-align: center;
		&::after {
			height: 0px;
			
		}
		span{
			font-size: 60px;
			font-family: var(--open-sans);
			&.off{
				font-weight: 400;
				font-size:34px;
			}

		}
	}
	
		
}