/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/

:root {
    --main-color-one: #057BF5;
    --secondary-color: #666666;
    --purple-color:#6F36BB;
    --mixed--p-b-color:#6C63FF;
    --heading-color: #ffffff;
    --paragraph-color: #666666;
    --red:#FF3D00;
    --black:#333333;
    --gray: #666666;
    --gray1:#909090;
    --gray2:#CCCCCC;
    --footer:#F2F2F2;
    --blue:#3D9EFF;
    --heart:#FC6B6B;
    --blue-01:#FBFBFF;

    --white: #fff;
    --white-2: #F2F2F2;
    // --heading-font: 'DIN Condensed Bold';
    --body-font: 'Poppins', sans-serif;
    // --rock-well-serif: 'Rockwell Nova Light', sans-serif;
    // --rock-well--light: 'Rockwell Nova Light';
    // --rock-well-normal: 'Rockwell Nova-Bold';
    // --rock-well:'Rockwell Nova';
    // --din-cond-normal: 'DIN Condensed';
    --libre-font:'Libre Franklin', sans-serif;
    --open-sans:'Open Sans', sans-serif;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    //  overflow-x: hidden;
    font-family: var(--body-font);
    
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    -moz-osx-font-smoothing: grayscale;
    /* Firefox */
    -webkit-font-smoothing: antialiased;
    /* WebKit  */
}

body {
    margin: 0;
    color: var(--paragraph-color);
    overflow-x: hidden;
    font-family: var(--body-font);
}

@media screen and (min-width: 1366px){
    .container {
        max-width: 1280px;
    }
}
@media screen and (min-width: 1650px){
    .container {
        max-width: 1640px;
    }
}



h1 {
    font-size: 42px;
    line-height: 1.3;
}

h2 {
    font-size: 42px;
    line-height: 1.3;
}

h3 {
    font-size: 24px;
    line-height: 1.0833333333333333;
}

h4 {
    font-size: 20px;
    line-height: 1.2380952380952381;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--libre-font);
}

p {
    font-size: 14px;
    color: var(--paragraph-color);
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    margin-bottom: 10px;
    line-height: 1.8;
    font-family: var(--open-sans);
}

a {
    color: inherit;
    text-decoration: none;
    color: var(--paragraph-color);
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
    color: inherit;
}

pre {
    word-break: break-word;
}

a i {
    padding: 0 2px;
}

img {
    max-width: 100%;
}

ol {
    counter-reset: counter;
    padding-left: 0;
}

ol li {
    list-style: none;
    margin-bottom: 1rem;
}

ol li:before {
    counter-increment: counter;
    content: counter(counter);
    font-weight: 500;
    margin-right: 10px;
}

.no-padding {
	padding: 0 !important;
	margin: 0 !important;
}
.padding-0{
    padding: 0 !important;
}
/*input and button type focus outline disable*/

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
select:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #ddd;
}

code {
    color: #faa603;
}

.dark-bg {
    background-color: #111d5c;
}

.section-bg-1 {
    background-color: #f4f7fc;
}

.check-list {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        display: block;
        padding-left: 20px;
        position: relative;
        z-index: 0;
        &:after {
            position: absolute;
            left: 0;
            top: 0;
            font-family: 'fontawesome';
            content: "\f105";
            color: var(--main-color-one);
        }
    }
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
    clear: both;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;
    width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%;
}

.comment-navigation .nav-previous>a,
.posts-navigation .nav-previous>a,
.post-navigation .nav-previous>a,
.comment-navigation .nav-next>a,
.posts-navigation .nav-next>a,
.post-navigation .nav-next>a {
    transition: .3s ease-in;
}

.comment-navigation .nav-previous:hover>a,
.posts-navigation .nav-previous:hover>a,
.post-navigation .nav-previous:hover>a,
.comment-navigation .nav-next:hover>a,
.posts-navigation .nav-next:hover>a,
.post-navigation .nav-next:hover>a {
    color: var(--main-color-one);
}


/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/


/* Text meant only for screen readers. */

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
    /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}


/* Do not show the outline on the skip link target. */

#content[tabindex="-1"]:focus {
    outline: 0;
}

/*--------------------------------------------------------------
# Ceneting ELEment
--------------------------------------------------------------*/
.content-center{
    display: flex;
    align-items: center;
}
/*--------------------------------------------------------------
# Globals
--------------------------------------------------------------*/

.padding-left-0 {
    padding-left: 0;
}

.padding-right-0 {
    padding-left: 0;
}

.gray-bg {
    background-color: #f8f8f8;
}

//== padding classes 
.padding-top-10 {
    padding-top: 10px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-30 {
    padding-top: 30px;
}

.padding-top-40 {
    padding-top: 40px;
}

.padding-top-50 {
    padding-top: 50px;
}

.padding-top-60 {
    padding-top: 60px;
}

.padding-top-70 {
    padding-top: 70px;
}

.padding-top-80 {
    padding-top: 80px;
}

.padding-top-90 {
    padding-top: 90px;
}

.padding-top-95 {
    padding-top: 95px;
}

.padding-top-100 {
    padding-top: 100px;
}

.padding-top-105 {
    padding-top: 105px;
}

.padding-top-110 {
    padding-top: 110px;
}

.padding-top-115 {
    padding-top: 115px;
}

.padding-top-120 {
    padding-top: 120px;
}

//==padding bottom
.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-bottom-30 {
    padding-bottom: 30px;
}

.padding-bottom-40 {
    padding-bottom: 40px;
}

.padding-bottom-50 {
    padding-bottom: 50px;
}

.padding-bottom-60 {
    padding-bottom: 60px;
}

.padding-bottom-65 {
    padding-bottom: 65px;
}

.padding-bottom-70 {
    padding-bottom: 70px;
}

.padding-bottom-80 {
    padding-bottom: 80px;
}

.padding-bottom-85 {
    padding-bottom: 85px;
}

.padding-bottom-90 {
    padding-bottom: 90px;
}

.padding-bottom-95 {
    padding-bottom: 95px;
}

.padding-bottom-100 {
    padding-bottom: 100px;
}

.padding-bottom-110 {
    padding-bottom: 110px;
}

.padding-bottom-105 {
    padding-bottom: 105px;
}

.padding-bottom-115 {
    padding-bottom: 115px;
}

.padding-bottom-120 {
    padding-bottom: 120px;
}

.padding-bottom-130 {
    padding-bottom: 130px;
}

.padding-bottom-135 {
    padding-bottom: 135px;
}

//== padding both
.padding-120 {
    padding-top: 120px;
    padding-bottom: 120px;
}

.padding-110 {
    padding-top: 110px;
    padding-bottom: 110px;
}

.padding-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}
.padding-100-150 {
    padding-top: 100px;
    padding-bottom: 150px;
}

.padding-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.padding-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}



.padding-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.padding-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.padding-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.padding-70 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.padding-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.padding-90 {
    padding-top: 90px;
    padding-bottom: 90px;
}

.padding-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.padding-l-r-140{
    padding: 0px 140px;
}
.padding-14{
    padding: 14px;
}
//== margin classes 
.margin-top-0 {
    margin-top: 0px;
}
.margin-top-10 {
    margin-top: 10px;
}
.margin-top-14 {
    margin-top: 14px;
}
.margin-top-18 {
    margin-top: 18px;
}
.margin-top-20 {
    margin-top: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-55 {
    margin-top: 55px;
}

.margin-top-60 {
    margin-top: 60px;
}

.margin-top-70 {
    margin-top: 70px;
}
.margin-top-80 {
    margin-top: 80px;
}
.margin-top-90 {
    margin-top: 90px;
}
.margin-top-95 {
    margin-top: 95px;
}
.margin-top-100 {
    margin-top: 100px;
}
.margin-top-110 {
    margin-top: 110px;
}
.margin-top-160 {
    margin-top: 160px;
}
.margin-top-115 {
    margin-top: 115px;
}
.margin-top-120 {
    margin-top: 120px;
}
.margin-top-4vh{
    margin-top: 4vh;
}
.margin-top-6vh{
    margin-top:6vh;  
}
.margin-top-8vh{
    margin-top:8vh;  
}
.margin-top-10vh{
    margin-top:10vh;  
}
.margin-top-17vh{
    margin-top:17vh;
    
}
.margin-top-14vh{
    margin-top:14vh;
    
}
.margin-top-24vh{
    margin-top:24vh;
    
}
.margin-t-80-b-100{
    margin-top: 80px;
    margin-bottom: 100px;
}
.margin-top-270{
    margin-top: 270px;
}

//= margin bottom
.margin-bottom-0 {
    margin-bottom: 0px !important;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-bottom-55 {
    margin-bottom: 55px;
}

.margin-bottom-60 {
    margin-bottom: 60px;
}

.margin-bottom-65 {
    margin-bottom: 65px;
}

.margin-bottom-70 {
    margin-bottom: 70px;
}

.margin-bottom-80 {
    margin-bottom: 80px;
}

.margin-bottom-90 {
    margin-bottom: 90px;
}
.margin-bottom-100{
    margin-bottom: 100px;
}

.margin-bottom-120{
    margin-bottom: 120px;
}
.margin-bottom-200{
    margin-bottom:200px;
}

.margin-top-240 {
    margin-top: 240px;
}


.margin-top-120 {
    margin-top: 120px;
}
.margin-top-250 {
    margin-top: 250px;
}
.min-height-600 {
    min-height: 600px;
}

.margin-90{
    margin-top: 90px;
    margin-bottom: 90px;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/

.alignleft {
    float: left;
    clear: both;
    margin-right: 20px;
}

.alignright {
    float: right;
    clear: both;
    margin-left: 20px;
}

.aligncenter {
    clear: both;
    display: block;
    margin: 0 auto 1.75em;
}

.alignfull {
    margin: 1.5em 0;
    max-width: 100%;
}

.alignwide {
    max-width: 1100px;
}


/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}


/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/

.sticky {
    display: block;
}

.updated:not(.published) {
    display: none;
}

.blog-pagination ul li {
    display: inline-block;
}

.blog-pagination ul li+li {
    margin: 0 5px;
}

.blog-pagination {
    display: block;
    width: 100%;
}

.blog-pagination ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.blog-pagination ul li a,
.blog-pagination ul li span {
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid #e2e2e2;
    line-height: 40px;
    text-align: center;
    font-weight: 600;
    transition: .3s ease-in;
}

.blog-pagination ul li span.current,
.blog-pagination ul li a:hover {
    background-color: var(--main-color-one);
    color: #fff;
}


/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}


/* Make sure embeds and iframes fit their containers. */

embed,
iframe,
object {
    max-width: 100%;
}


/* Make sure logo link wraps around logo image. */

.custom-logo-link {
    display: inline-block;
}


/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/

.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
    clear: both;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.wp-caption-text {
    text-align: center;
}


/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/

.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}


/*----------------------------------------
    # Unit test
------------------------------------------*/

.wp-link-pages a {
    margin: 0 5px;
    transition: .3s ease-in;
}

.wp-link-pages {
    margin-bottom: 30px;
    margin-top: 25px;
}

.wp-link-pages span,
.wp-link-pages a {
    border: 1px solid #e2e2e2;
    padding: 5px 15px;
    display: inline-block;
}

.wp-link-pages .current,
.wp-link-pages a:hover {
    background-color: var(--main-color-one);
    color: #fff;
    border-color: var(--main-color-one);
}

.wp-link-pages span:first-child {
    margin-right: 5px;
}

dl,
ol,
ul {
    padding-left: 15px;
}

.post-password-form input {
    display: block;
    border: 1px solid #e2e2e2;
    height: 50px;
    border-radius: 3px;
    padding: 0 20px;
}

.post-password-form label {
    font-weight: 600;
    color: #333;
}

.post-password-form input[type=submit] {
    width: 100px;
    height: 50px;
    background-color: var(--main-color-one);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    transition: .3s ease-in;
}

.post-password-form input[type=submit]:hover {
    background-color: #121A2F;
}

.footer-widget .table td,
.footer-widget .table th {
    padding: 0.50rem !important;
}

/*--------------------------------------------------------------
# cutome Container
--------------------------------------------------------------*/

.custom-container-fluid{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1340px;
    
}
.owl-prev, .owl-next {
    height: auto !important;
}
.slick-next {
    right: 0px;
}
.slick-prev{
    left: 0px;
}

.desktop-center{
    text-align: center;
}




/* Tablet: 768px. (Portrait) */
@media (min-width: 768px) and (max-width: 991px) {
    .tab-mb-10 {
        margin-bottom: 10px;
    }
    .tab-mb-20 {
        margin-bottom: 20px;
    }
    .tab-mb-30 {
        margin-bottom: 30px;
    }
    .tab-mb-40 {
        margin-bottom: 40px;
    }
    .tab-mb-50 {
        margin-bottom: 50px;
    }
    .tab-mb-60 {
        margin-bottom: 60px;
    }
    .tab-mb-70 {
        margin-bottom: 70px;
    }
    .tab-mb-80 {
        margin-bottom: 80px;
    }
    .tab-mb-85 {
        margin-bottom: 85px;
    }
    .tab-mb-90 {
        margin-bottom: 90px;
    }
    .tab-mb-100 {
        margin-bottom: 100px;
    }
    .tab-mb-110 {
        margin-bottom: 110px;
    }
    .tab-mb-120 {
        margin-bottom: 120px;
    }
    
    .tab-mt-10 {
        margin-top: 10px;
    }
    .tab-mt-20 {
        margin-top: 20px;
    }
    .tab-mt-30 {
        margin-top: 30px;
    }
    .tab-mt-40 {
        margin-top: 40px;
    }
    .tab-mt-50 {
        margin-top: 50px;
    }
    .tab-mt-60 {
        margin-top: 60px;
    }
    .tab-mt-70 {
        margin-top: 70px;
    }
    .tab-mt-80 {
        margin-top: 80px;
    }
    .tab-mt-85 {
        margin-top: 85px;
    }
    .tab-mt-90 {
        margin-top: 90px;
    }
    .tab-mt-100 {
        margin-top: 100px;
    }
    .tab-mt-110 {
        margin-top: 110px;
    }
    .tab-mt-120 {
        margin-top: 120px;
    }
    .tab-pt-10 {
        padding-top: 10px;
    }
    .tab-pt-20 {
        padding-top: 20px;
    }
    .tab-pt-30 {
        padding-top: 30px;
    }
    .tab-pt-40 {
        padding-top: 40px;
    }
    .tab-pt-50 {
        padding-top: 50px;
    }
    .tab-pt-60 {
        padding-top: 60px;
    }
    .tab-pt-70 {
        padding-top: 70px;
    }
    .tab-pt-80 {
        padding-top: 80px;
    }
    .tab-pt-85 {
        padding-top: 85px;
    }
    .tab-pt-90 {
        padding-top: 90px;
    }
    .tab-pt-100 {
        padding-top: 100px;
    }
    .tab-pt-110 {
        padding-top: 110px;
    }
    .tab-pt-120 {
        padding-top: 120px;
    }
    .tab-pb-10 {
        padding-bottom: 10px;
    }
    .tab-pb-20 {
        padding-bottom: 20px;
    }
    .tab-pb-30 {
        padding-bottom: 30px;
    }
    .tab-pb-40 {
        padding-bottom: 40px;
    }
    .tab-pb-50 {
        padding-bottom: 50px;
    }
    .tab-pb-60 {
        padding-bottom: 60px;
    }
    .tab-pb-70 {
        padding-bottom: 70px;
    }
    .tab-pb-80 {
        padding-bottom: 80px;
    }
    .tab-pb-85 {
        padding-bottom: 85px;
    }
    .tab-pb-90 {
        padding-bottom: 90px;
    }
    .tab-pb-100 {
        padding-bottom: 100px;
    }
    .tab-pb-110 {
        padding-bottom: 110px;
    }
    .tab-pb-120 {
        padding-bottom: 120px;
    }

}

/* small mobile: 320px. */
@media (max-width: 767px) {
    .mobile-mb-0 {
        margin-bottom: 0px;
    }
    .mobile-mb-10 {
        margin-bottom: 10px;
    }
    .mobile-mb-20 {
        margin-bottom: 20px;
    }
    .mobile-mb-30 {
        margin-bottom: 30px;
    }
    .mobile-mb-40 {
        margin-bottom: 40px;
    }
    .mobile-mb-50 {
        margin-bottom: 50px;
    }
    .mobile-mb-55 {
        margin-bottom: 55px;
    }
    .mobile-mb-60 {
        margin-bottom: 60px;
    }
    .mobile-mb-65 {
        margin-bottom: 65px;
    }
    .mobile-mb-70 {
        margin-bottom: 70px;
    }
    .mobile-mb-80 {
        margin-bottom: 80px;
    }
    .mobile-mb-90 {
        margin-bottom: 90px;
    }
    .mobile-mb-100 {
        margin-bottom: 100px;
    }
    .mobile-mt-0 {
        margin-top: 0px;
    }
    .mobile-mt-10 {
        margin-top: 10px;
    }
    .mobile-mt-20 {
        margin-top: 20px;
    }
    .mobile-mt-30 {
        margin-top: 30px;
    }
    .mobile-mt-40 {
        margin-top: 40px;
    }
    .mobile-mt-50 {
        margin-top: 50px;
    }
    .mobile-mt-55 {
        margin-top: 55px;
    }
    .mobile-mt-60 {
        margin-top: 60px;
    }
    .mobile-mt-65 {
        margin-top: 65px;
    }
    .mobile-mt-70 {
        margin-top: 70px;
    }
    .mobile-mt-80 {
        margin-top: 80px;
    }
    .mobile-mt-90 {
        margin-top: 90px;
    }
    .mobile-mt-100 {
        margin-top: 100px;
    }
    .mobile-pt-0 {
        padding-top: 0;
    }
    .mobile-pt-10 {
        padding-top: 10px;
    }
    .mobile-pt-20 {
        padding-top: 20px;
    }
    .mobile-pt-30 {
        padding-top: 30px;
    }
    .mobile-pt-40 {
        padding-top: 40px;
    }
    .mobile-pt-50 {
        padding-top: 50px;
    }
    .mobile-pt-55 {
        padding-top: 55px;
    }
    .mobile-pt-60 {
        padding-top: 60px;
    }
    .mobile-pt-65 {
        padding-top: 65px;
    }
    .mobile-pt-70 {
        padding-top: 70px;
    }
    .mobile-pt-80 {
        padding-top: 80px;
    }
    .mobile-pt-90 {
        padding-top: 90px;
    }
    .mobile-pt-100 {
        padding-top: 100px;
    }
    .mobile-pb-0 {
        padding-bottom: 0;
    }
    .mobile-pb-10 {
        padding-bottom: 10px;
    }
    .mobile-pb-20 {
        padding-bottom: 20px;
    }
    .mobile-pb-30 {
        padding-bottom: 30px;
    }
    .mobile-pb-40 {
        padding-bottom: 40px;
    }
    .mobile-pb-45 {
        padding-bottom: 45px;
    }
    .mobile-pb-50 {
        padding-bottom: 50px;
    }
    .mobile-pb-55 {
        padding-bottom: 55px;
    }
    .mobile-pb-60 {
        padding-bottom: 60px;
    }
    .mobile-pb-65 {
        padding-bottom: 65px;
    }
    .mobile-pb-70 {
        padding-bottom: 70px;
    }
    .mobile-pb-80 {
        padding-bottom: 80px;
    }
    .mobile-pb-90 {
        padding-bottom: 90px;
    }
    .mobile-pb-100 {
        padding-bottom: 100px;
    }



}
