@-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.75);
    }
    70% {
        -webkit-box-shadow: 0 0 0 12px rgba(204,169,44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
   }
   @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.75);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.75);
    }
    70% {
        -moz-box-shadow: 0 0 0 12px rgba(204,169,44, 0);
        box-shadow: 0 0 0 12px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
   }

   @-webkit-keyframes pulse2 {
    0% {
      -webkit-box-shadow: 0 0 0 0 #f9c93591;
    }
    70% {
        -webkit-box-shadow: 0 0 0 12px rgba(204,169,44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
   }
   @keyframes pulse2 {
    0% {
      -moz-box-shadow: 0 0 0 0 #f9c93591;
      box-shadow: 0 0 0 0 #f9c93591;
    }
    70% {
        -moz-box-shadow: 0 0 0 12px rgba(204,169,44, 0);
        box-shadow: 0 0 0 12px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
   }

    @keyframes pulse-two {
        0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
        }
    
        50% {
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.6);
        }
        100% {
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1);
        }
    }
    @keyframes pulse-three {
        0% {
        box-shadow: 0 0 0 0 rgba(#057BF5, 0.6);
        }
    
        50% {
        box-shadow: 0 0 0 10px rgba(#057BF5, 0.3);
        }
        100% {
        box-shadow: 0 0 0 20px rgba(#057BF5, 0.1);
        }
    }
   @keyframes anime {
    0%{
        background-position: 0% 50%;
    }
        
    50%{
        background-position: 100% 50%;
    }
        
    100%{
        background-position: 0% 50%;
    }
       
   }
   



   @keyframes animate
   {
       0%
       {
           width: 0%;
           height: 0%;
           border-top-color: white;
           border-right-color: transparent;
           border-bottom-color: transparent;
           border-left-color: transparent;
       }
       50%
       {
           width: 100%;
           height: 0%;
           border-top-color: white;
           border-right-color: white;
           border-bottom-color: transparent;
           border-left-color: transparent;
       }
       100%
       {
           width: 100%;
           height: 100%;
           border-top-color: white;
           border-right-color:white;
           border-bottom-color: transparent;
           border-left-color: transparent;
       }
   }
   
   
   
   @keyframes animate2
   {
       0%
       {
           width: 0%;
           height: 0%;
           border-top-color: transparent;
           border-right-color: transparent;
           border-bottom-color: transparent;
           border-left-color: white;
       }
       50%
       {
           width: 0%;
           height: 100%;
           border-top-color: white;
           border-right-color: transparent;
           border-bottom-color: white;
           border-left-color: white;
       }
       100%
       {
           width: 100%;
           height: 100%;
           border-top-color: transparent;
           border-right-color: transparent;
           border-bottom-color: white;
           border-left-color: white;
       }
   }   