@media (min-width: 1650px) {
  .left-slider-content-wrapper{
    padding-right: 120px;
  }
}





  @media screen and (min-width: 1441px) and (max-width: 1649px) {
    
    h1 {
      font-size: 37px;
      line-height: 1.3;
    }
    p {
      font-size: 13px;
    }

  }


  /// (1366x768) & (1440*768) WXGA Display


  @media screen and (min-width: 1366px) and (max-width: 1440px) {
   
    h1 {
      font-size: 37px;
      line-height: 1.3;
    }
    p {
      font-size: 13px;
    }


  }
  @media screen and (min-width: 1200px) and (max-width: 1366px) {
    h1 {
      font-size: 37px;
      line-height: 1.3;
    }
    p {
      font-size: 13px;
    }
  }
   
  /* Normal desktop :992px. */
  @media only screen and (min-width: 992px) and (max-width: 1199px) {


    


  }

  /* Tablet Layout: 768px. */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    

}
/* small Device. */
@media  only screen and (max-width:767px){
  
  /* HOME PAGE */
 

}



@media only screen and (min-width:480px) and (max-width:767px){
  

}



@media only screen and (max-width: 599px){
 
}
@media only screen and (max-width: 414px){
  
}
@media only screen and (max-width: 384px) {
  
}
@media only screen and (max-width: 360px) {
 
}
@media only screen and (max-width: 330px){
  
}