
//== Template Main Color
$white : #fff;
$danger : #dc3545;
$gray : #666666;
//== social media colors
$facebook: #3b5999;
$twitter: #55acee;
$dribbble: #ea4c89;
$behance: #131418;
$google-plus: #dd4b39;
$linkedin: #0077B5;
$instagram: #e4405f;


/*-----------------
    # Typography
-----------------*/

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Source+Serif+Pro:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:100,200,300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');




//  transition
$transition: all .3s ease-in;
$transition-long: all .5s ease-in;
