.gallery-wrapper .img-container-1 {
  background: url(../img/baker.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 382px;
  padding: 10px; }
  .gallery-wrapper .img-container-1 .border-hover .popup-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    visibility: hidden;
    opacity: 0; }
    .gallery-wrapper .img-container-1 .border-hover .popup-wrapper h5 {
      font-family: var(--body-font);
      font-size: 16px; }
  .gallery-wrapper .img-container-1:hover .border-hover .popup-wrapper {
    visibility: visible;
    opacity: 1; }

.gallery-wrapper .img-container-2 {
  background: url(../img/carresto.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 176px;
  padding: 10px; }
  .gallery-wrapper .img-container-2 .border-hover .popup-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    visibility: hidden;
    opacity: 0; }
    .gallery-wrapper .img-container-2 .border-hover .popup-wrapper h5 {
      font-family: var(--body-font);
      font-size: 16px; }
  .gallery-wrapper .img-container-2:hover .border-hover .popup-wrapper {
    visibility: visible;
    opacity: 1; }

.gallery-wrapper .img-container-3 {
  background: url(../img/readinglady.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 176px;
  padding: 10px; }
  .gallery-wrapper .img-container-3 .border-hover .popup-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    visibility: hidden;
    opacity: 0; }
    .gallery-wrapper .img-container-3 .border-hover .popup-wrapper h5 {
      font-family: var(--body-font);
      font-size: 16px; }
  .gallery-wrapper .img-container-3:hover .border-hover .popup-wrapper {
    visibility: visible;
    opacity: 1; }

.gallery-wrapper .img-container-4 {
  background: url(../img/architecture-building.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 176px;
  padding: 10px; }
  .gallery-wrapper .img-container-4 .border-hover .popup-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    visibility: hidden;
    opacity: 0; }
    .gallery-wrapper .img-container-4 .border-hover .popup-wrapper h5 {
      font-family: var(--body-font);
      font-size: 16px; }
  .gallery-wrapper .img-container-4:hover .border-hover .popup-wrapper {
    visibility: visible;
    opacity: 1; }

.gallery-wrapper .img-container-5 {
  background: url(../img/blding.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 176px;
  padding: 10px; }
  .gallery-wrapper .img-container-5 .border-hover .popup-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    visibility: hidden;
    opacity: 0; }
    .gallery-wrapper .img-container-5 .border-hover .popup-wrapper h5 {
      font-family: var(--body-font);
      font-size: 16px; }
  .gallery-wrapper .img-container-5:hover .border-hover .popup-wrapper {
    visibility: visible;
    opacity: 1; }

.gallery-wrapper .img-container-6 {
  background: url(../img/pizza.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 176px;
  padding: 10px; }
  .gallery-wrapper .img-container-6 .border-hover .popup-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    visibility: hidden;
    opacity: 0; }
    .gallery-wrapper .img-container-6 .border-hover .popup-wrapper h5 {
      font-family: var(--body-font);
      font-size: 16px; }
  .gallery-wrapper .img-container-6:hover .border-hover .popup-wrapper {
    visibility: visible;
    opacity: 1; }

.gallery-wrapper .img-container-7 {
  background: url(../img/chef-cook.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 382px;
  padding: 10px; }
  .gallery-wrapper .img-container-7 .border-hover .popup-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    visibility: hidden;
    opacity: 0; }
    .gallery-wrapper .img-container-7 .border-hover .popup-wrapper h5 {
      font-family: var(--body-font);
      font-size: 16px; }
  .gallery-wrapper .img-container-7:hover .border-hover .popup-wrapper {
    visibility: visible;
    opacity: 1; }

.gallery-wrapper .img-container-8 {
  background: url(../img/italian-show.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 176px;
  padding: 10px; }
  .gallery-wrapper .img-container-8 .border-hover .popup-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    visibility: hidden;
    opacity: 0; }
    .gallery-wrapper .img-container-8 .border-hover .popup-wrapper h5 {
      font-family: var(--body-font);
      font-size: 16px; }
  .gallery-wrapper .img-container-8:hover .border-hover .popup-wrapper {
    visibility: visible;
    opacity: 1; }

.gallery-wrapper .img-container-9 {
  background: url(../img/green-pumpkin.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 176px;
  padding: 10px; }
  .gallery-wrapper .img-container-9 .border-hover .popup-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    visibility: hidden;
    opacity: 0; }
    .gallery-wrapper .img-container-9 .border-hover .popup-wrapper h5 {
      font-family: var(--body-font);
      font-size: 16px; }
  .gallery-wrapper .img-container-9:hover .border-hover .popup-wrapper {
    visibility: visible;
    opacity: 1; }
