/*--------------------------------------------------------------
	## Header
--------------------------------------------------------------*/
.header-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /*--------------------------------------------------------------
	## Slider Animation
    --------------------------------------------------------------*/ }
  .header-bg .left-slider-content-wrapper .quote-wrapper .dot {
    height: 12px;
    width: 12px;
    background-color: var(--purple-color);
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px; }
  .header-bg .left-slider-content-wrapper .quote-wrapper .tag-word {
    color: var(--purple-color);
    font-size: 13px;
    margin: 0px 5px;
    border-bottom: 1px solid var(--purple-color); }
  .header-bg .slider-img-wrapper {
    position: relative; }
    .header-bg .slider-img-wrapper .slider-img1 {
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      height: 100vh;
      min-height: 600px;
      margin-top: -110px; }
    .header-bg .slider-img-wrapper .slider-img2 {
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      height: 100vh;
      min-height: 600px;
      position: absolute;
      width: 100%;
      top: 0px;
      left: 10px; }
    .header-bg .slider-img-wrapper .slider-img3 {
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      height: 100vh;
      min-height: 600px;
      position: absolute;
      width: 100%;
      top: 0px;
      left: 10px; }
  .header-bg .slider .slider-item.slick-active .slider-inner-content .showcase-sec-heading {
    -webkit-animation: 1.5s 0.2s fadeInDown both;
    animation: 1.5s 0.2s fadeInDown both; }
  .header-bg .slider .slider-item.slick-active .slider-inner-content .showcase-sec-para {
    -webkit-animation: 1.5s 0.2s fadeInUp both;
    animation: 1.5s 0.2s fadeInUp both; }
  .header-bg .slider .slider-item.slick-active .slider-inner-content .btn-wrapper {
    -webkit-animation: 1.5s 0.2s fadeInLeft both;
    animation: 1.5s 0.2s fadeInLeft both; }
  .header-bg .slider .slider-item.slick-active .quote-wrapper {
    -webkit-animation: 1.5s 0.2s fadeInRight both;
    animation: 1.5s 0.2s fadeInRight both; }
  .header-bg .slider .slider-item.slick-active .slider-img-wrapper .slider-img1 {
    -webkit-animation: 1.5s 0.2s fadeInDown both;
    animation: 1.5s 0.2s fadeInDown both; }
  .header-bg .slider .slider-item.slick-active .slider-img-wrapper .slider-img2 {
    -webkit-animation: 2.5s 0.2s bounceInDown both;
    animation: 2.5s 0.2s bounceInDown both; }
  .header-bg .slider .slider-item.slick-active .slider-img-wrapper .slider-img3 {
    -webkit-animation: 4s 0.2s bounceInDown both;
    animation: 4s 0.2s bounceInDown both; }
