.select-us.right-domain {
  background: #FBFBFF; }

.select-us .select-us-img-wrapper .select-us-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 80vh; }

.select-us .quality-point-wrapper ul {
  list-style: none; }
  .select-us .quality-point-wrapper ul li {
    font-family: var(--open-sans);
    font-size: 16px;
    color: var(--gray);
    margin-top: 20px; }
    .select-us .quality-point-wrapper ul li::before {
      position: absolute;
      font-family: "Font Awesome 5 Free";
      content: "\f00c";
      font-weight: 600;
      font-size: 12px;
      left: 10px;
      line-height: 28px;
      color: var(--main-color-one); }
