.din-con-font,
.rockwell-font {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .din-con-font .primary,
  .rockwell-font .primary {
    -webkit-box-flex: 0.52;
    -ms-flex: 0.52;
    flex: 0.52; }
  .din-con-font .styles,
  .rockwell-font .styles {
    -webkit-box-flex: 0.36;
    -ms-flex: 0.36;
    flex: 0.36; }

.heading-types {
  background: rgba(188, 188, 188, 0.4); }
  .heading-types .heading-style .heading-wrapper h3 {
    font-family: var(--body-font);
    font-size: 18px;
    color: #8D8D8D; }
  .heading-types .heading-style .heading-wrapper h2 {
    font-family: var(--body-font);
    font-size: 80px;
    color: black;
    font-weight: 400; }
    .heading-types .heading-style .heading-wrapper h2.fifty-five {
      font-size: 55px; }
    .heading-types .heading-style .heading-wrapper h2.thirty-five {
      font-size: 35px; }
    .heading-types .heading-style .heading-wrapper h2.twenty-five {
      font-size: 35px; }
    .heading-types .heading-style .heading-wrapper h2.eighteen {
      font-size: 18px; }
    .heading-types .heading-style .heading-wrapper h2.twoelve {
      font-size: 12px; }

.content p {
  color: #8D8D8D;
  font-family: var(--body-font);
  font-size: 13px; }
  .content p .mark {
    background-color: #f9c935; }
  .content p.cross-out {
    text-decoration: line-through; }
  .content p.underlined-text {
    text-decoration: underline; }
  .content p.bold-text {
    font-weight: 600; }
  .content p.p-wfll {
    color: #000000; }
    .content p.p-wfll:first-letter {
      font-size: 34px;
      line-height: 0.78;
      float: left;
      font-weight: 400;
      padding: 8px 5px 0 0; }
