@font-face {
  font-family: 'DIN Condensed Bold';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/DINCondensed-Bold.woff") format("woff"); }

@font-face {
  font-family: 'Rockwell Nova';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RockwellNova-Bold.woff") format("woff"); }

@font-face {
  font-family: 'Rockwell Nova Italic';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RockwellNova-ExtraBold.woff") format("woff"); }

@font-face {
  font-family: 'Rockwell Nova Bold';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RockwellNova-ExtraBoldItalic.woff") format("woff"); }

@font-face {
  font-family: 'Rockwell Nova Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RockwellNova-BoldItalic.woff") format("woff"); }

@font-face {
  font-family: 'Rockwell Nova Cond';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RockwellNovaCond.woff") format("woff"); }

@font-face {
  font-family: 'Rockwell Nova Cond Italic';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RockwellNovaCond-Italic.woff") format("woff"); }

@font-face {
  font-family: 'Rockwell Nova Light';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RockwellNova-Light.woff") format("woff"); }

@font-face {
  font-family: 'Rockwell Nova Cond Light';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RockwellNovaCond-Light.woff") format("woff"); }

@font-face {
  font-family: 'Rockwell Nova Light Italic';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RockwellNova-LightItalic.woff") format("woff"); }

@font-face {
  font-family: 'Rockwell Nova Cond Light Italic';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RockwellNovaCond-LightItalic.woff") format("woff"); }

@font-face {
  font-family: 'Rockwell Nova Cond Bold';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RockwellNovaCond-Bold.woff") format("woff"); }

@font-face {
  font-family: 'Rockwell Nova Cond Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RockwellNovaCond-BoldItalic.woff") format("woff"); }

@font-face {
  font-family: 'Rockwell Nova Extra Bold';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RockwellNova-ExtraBold.woff") format("woff"); }

@font-face {
  font-family: 'Rockwell Nova Extra Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RockwellNova-ExtraBoldItalic.woff") format("woff"); }
