@media (min-width: 1650px) {
  .left-slider-content-wrapper {
    padding-right: 120px; } }

@media screen and (min-width: 1441px) and (max-width: 1649px) {
  h1 {
    font-size: 37px;
    line-height: 1.3; }
  p {
    font-size: 13px; } }

@media screen and (min-width: 1366px) and (max-width: 1440px) {
  h1 {
    font-size: 37px;
    line-height: 1.3; }
  p {
    font-size: 13px; } }

@media screen and (min-width: 1200px) and (max-width: 1366px) {
  h1 {
    font-size: 37px;
    line-height: 1.3; }
  p {
    font-size: 13px; } }

/* Normal desktop :992px. */
/* Tablet Layout: 768px. */
/* small Device. */
@media only screen and (max-width: 767px) {
  /* HOME PAGE */ }
